<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="keywords" content="重庆市九吨科技有限公司，九吨科技，九吨">
    <meta name="description" content="重庆市九吨科技有限公司成立于2013年5月，是一家专注移动互联网产品研发及APP运营的科技型创新企业，秉承“活力、发展、信念、变革”的创业理念飞速发展。目前拥有自主知识产权20余项，企业员工100多人。旗下主要分为两块业务：移动app、移动广告平台。这两块相辅相成，数千万用户体量的app为移动广告平台提供了流量分发支撑，移动广告平台为app流量变现提供了保证，强大的分发能力能够让产品迅速的推广出去。截至至今，流量矩阵模式基本形成，公司产品服务数千万用户，成为西南地区为数不多的用户数跨越千万用户大关的移动互联网公司。">
    <link rel="shortcut icon" href="img/favic.png" type="image/x-icon" />
    <link rel="stylesheet" href="static/swiper3.min.css">
    <link rel="stylesheet" href="static/animate.min.css">
    <link rel="stylesheet" href="static/liMarquee.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/culture.css">
    <title>九吨官网-文化</title>
</head>

<body>
    <div id="culture_page">
        <!-- 头部 -->
        <div class="header">
            <div class="center-wrapper clearfloat fs0">
                <div class="logo">
                    <img src="img/pic_222.png" alt="九吨Logo">
                </div>
                <!-- <div class="language-select fr fs0">
                    <span :class="active1 == 1?'active1':''" @click="changeLang(1)">简 / </span>
                    <span :class="active1 == 2?'active1':''" @click="changeLang(2)">繁 / </span>
                    <span :class="active1 == 3?'active1':''" @click="changeLang(3)">EN</span>
                </div> -->
                <div class="menu fs0 clearfloat">
                    <a href="index.html">首页</a>
                    <a href="introduction.html">简介</a>
                    <a href="javascript:void(0)" class="active">文化</a>
                    <a href="business.html">业务</a>
                    <a href="recruit.html">招贤纳士</a>
                </div>
                <div class="mobile-menu" @click="showMenu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="moblie-menu-box" :class="isHeight?'height-auto':''">
            <div>
                <a href="index.html">首页</a>
                <a href="introduction.html">简介</a>
                <a href="javascript:void(0)" class="active">文化<img src="img/pic_30.png" alt="笔触"></a>
                <a href="business.html">业务</a>
                <a href="recruit.html">招贤纳士</a>
            </div>
            <!-- <div class="lang">
                <span>简 /</span>
                <span>繁 /</span>
                <span>EN</span>
            </div> -->
        </div>
        <div class="header-space"></div>
        <!-- 头部 end-->

        <div class="banner fs0">
            <img :src="cultureData.images" alt="九吨生活">
        </div>
        <div class="mob-banner fs0">
            <img src="img/pic_32.png" alt="九吨生活">
        </div>

        <!-- <div class="banner-des" v-text="cultureData.c_describe"></div> -->

        <div class="main fs0">
            <div class="block fs0">
                <div class="title">
                    <h4>九吨生活</h4>
                    <div class="line"></div>
                    <p>NINETON LIFE</p>
                </div>
                <ul class="item fs0">
                    <li v-for="item in lifeImg"><img :src="item" alt="九吨生活"></li>
                </ul>
                <!-- <p class="desc" v-text="cultureData.e_describe"></p> -->
                <div class="moblie-item">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for="item in lifeImg"><img :src="item" alt="九吨生活"></div>
                            <!-- <div class="swiper-slide"><img src="img/pic_12.png" alt="九吨生活"></div>
                            <div class="swiper-slide"><img src="img/pic_12.png" alt="九吨生活"></div>
                            <div class="swiper-slide"><img src="img/pic_12.png" alt="九吨生活"></div> -->
                        </div>
                    </div>
                    <!-- 如果需要导航按钮 -->
                    <div class="swiper-button-prev swiper-button-black"></div>
                    <div class="swiper-button-next swiper-button-black"></div>
                </div>
            </div>
            <div class="block fs0">
                <div class="title">
                    <h4>九吨新闻</h4>
                    <div class="line"></div>
                    <p>NINETON NEWS</p>
                </div>
                <ul class="item2 fs0">
                    <li v-for="(item,index) in newsList">
                        <img :src="item.images" class="img">
                        <div class="right-desc">
                            <h4 v-text="item.title"></h4>
                            <div class="line"></div>
                            <p v-text="item.describe"></p>
                        </div>
                    </li>
                </ul>
                <ul class="moblie-item2">
                    <li v-for="(item,index) in newsList">
                        <img :src="item.images">
                        <p class="moblie-title" v-text="item.title"></p>
                        <p class="content" v-text="item.describe"></p>
                    </li>
                </ul>
                <!-- <div class="see-more" @click="seeMore">查看更多</div> -->
            </div>
        </div>

        <!-- footer -->
        <div class="footer">
            <div class="footer-box">
                <div class="contact-way-wrapper fl fs0">
                    <img src="img/pic_8.png" alt="logo">
                    <div>
                        <p v-cloak>地址：{{headerAndFooter.addr}}</p>
                        <p v-cloak><a href="tel:0147-88469258">电话：{{headerAndFooter.tel}}</a></p>
                        <p v-cloak>邮箱：{{headerAndFooter.mail}}</p>
                    </div>
                </div>
                <div class="footer-other fr fs0">
                    <ul>
                        <li><a href="index.html">首页</a></li>
                        <li><a href="introduction.html">简介</a></li>
                        <li v-if="!culture_page"><a href="javascript:void(0)" v-cloak>文化</a></li>
                        <li><a href="business.html">业务</a></li>
                        <li><a href="javascript:void(0)">关于</a></li>
                        <li><a href="recruit.html">招贤纳士</a></li>
                    </ul>
                    <div>
                        <p>© NineTon Tech Design. all rights reserved</p>
                        <p><a href="http://www.miitbeian.gov.cn">Powered by NineTon Tech...{{headerAndFooter.icp}}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/vue.min.js"></script>
    <script src="static/swiper3.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/axios.js"></script>
    <script src="js/custom.js"></script>
    <script>
        var vm = new Vue({
            el: "#culture_page",
            data: {
                culture_page: true,
                isHeight: false,
                active1: 1,
                headerAndFooter: {
                    addr: "",
                    tel: "",
                    mail: ""
                },
                newsList: [],
                cultureData: {},
                lifeImg: []
            },

            methods: {
                showMenu: function () {
                    if (!this.isHeight) {
                        this.isHeight = true;
                    } else {
                        this.isHeight = false;
                    }
                },

                seeMore() {
                    console.info(123);
                },

                changeLang: function (e) {
                    this.active1 = e;
                    localStorage.setItem('active1', JSON.stringify(e));
                },

                //请求底部信息
                getFooterInfo: function () {
                    let _this = this;
                    axios.post(api + 'getCompanyFooter')
                        .then(function (res) {
                            let data = res.data.data;
                            _this.headerAndFooter.addr = data.addr;
                            _this.headerAndFooter.mail = data.mail;
                            _this.headerAndFooter.tel = data.tel;
                            _this.headerAndFooter.icp = data.qq;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },

                //请求新闻信息
                getNewsInfo: function () {
                    let _this = this;
                    axios.post(api + 'getNewList')
                        .then(function (res) {
                            let data = res.data.data;
                            _this.newsList = data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

                    axios.post(api + 'getPicList')
                        .then(function (res) {
                            let data = res.data.data;
                            _this.lifeImg = data.imgs;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

                    axios.post(api + 'getCultureBack')
                        .then(function (res) {
                            let data = res.data.data;
                            _this.cultureData = data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
            },

            created: function () {
                let active1 = JSON.parse(localStorage.getItem('active1'));
                console.info(active1);
                if (active1) {
                    this.active1 = active1;
                }
            },

            mounted: function () {
                var _this = this;
                _this.getFooterInfo();
                _this.getNewsInfo();
            },
            updated: function () {
                var mySwiper = new Swiper('.swiper-container', {
                    direction: 'horizontal',
                    loop: true,
                    // autoplay: 2000,
                    speed: 800,
                    // 如果需要前进后退按钮
                    nextButton: '.swiper-button-next',
                    prevButton: '.swiper-button-prev',
                })
            }
        });
    </script>

</body>

</html>