<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="keywords" content="重庆市九吨科技有限公司，九吨科技，九吨">
    <meta name="description" content="重庆市九吨科技有限公司成立于2013年5月，是一家专注移动互联网产品研发及APP运营的科技型创新企业，秉承“活力、发展、信念、变革”的创业理念飞速发展。目前拥有自主知识产权20余项，企业员工100多人。旗下主要分为两块业务：移动app、移动广告平台。这两块相辅相成，数千万用户体量的app为移动广告平台提供了流量分发支撑，移动广告平台为app流量变现提供了保证，强大的分发能力能够让产品迅速的推广出去。截至至今，流量矩阵模式基本形成，公司产品服务数千万用户，成为西南地区为数不多的用户数跨越千万用户大关的移动互联网公司。">
    <link rel="shortcut icon" href="img/favic.png" type="image/x-icon" />
    <link rel="stylesheet" href="static/animate.min.css">
    <link rel="stylesheet" href="static/liMarquee.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/introduction.css">
    <title>九吨官网-简介</title>
</head>

<body>
    <div id="introduction_page">
        <!-- 头部 -->
        <div class="header">
            <div class="center-wrapper clearfloat fs0">
                <div class="logo">
                    <img src="img/pic_222.png" alt="九吨Logo">
                </div>
                <!-- <div class="language-select fr fs0">
                    <span :class="active1 == 1?'active1':''" @click="changeLang(1)">简 / </span>
                    <span :class="active1 == 2?'active1':''" @click="changeLang(2)">繁 / </span>
                    <span :class="active1 == 3?'active1':''" @click="changeLang(3)">EN</span>
                </div> -->
                <div class="menu fs0 clearfloat">
                    <a href="index.html">首页</a>
                    <a href="javascript:void(0)" class="active">简介</a>
                    <a href="culture.html">文化</a>
                    <a href="business.html">业务</a>
                    <a href="recruit.html">招贤纳士</a>
                </div>
                <div class="mobile-menu" @click="showMenu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="moblie-menu-box" :class="isHeight?'height-auto':''">
            <div>
                <a href="index.html">首页</a>
                <a href="javascript:void(0)" class="active">简介<img src="img/pic_30.png" alt="笔触"></a>
                <a href="culture.html">文化</a>
                <a href="business.html">业务</a>
                <a href="recruit.html">招贤纳士</a>
            </div>
            <!-- <div class="lang">
                <span>简 /</span>
                <span>繁 /</span>
                <span>EN</span>
            </div> -->
        </div>
        <div class="header-space"></div>
        <!-- 头部 end-->

        <div class="main">
            <div class="banner">
                <div class="dowebok">
                    <div class="box" style="width: 4.43rem;margin-right: 0.84rem"></div>
                    <div class="box" style="width: 0.64rem;margin-right: 1.05rem"></div>
                    <div class="box" style="width: 2.12rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 4.43rem;margin-right: 0.84rem"></div>
                    <div class="box" style="width: 0.64rem;margin-right: 1.05rem"></div>
                    <div class="box" style="width: 2.12rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 4.43rem;margin-right: 0.84rem"></div>
                    <div class="box" style="width: 0.64rem;margin-right: 1.05rem"></div>
                    <div class="box" style="width: 2.12rem;margin-right: 0.34rem"></div>
                </div>
                <div class="dowebok">
                    <div class="box" style="width: 2.4rem;margin-right: 0.52rem"></div>
                    <div class="box" style="width: 0.31rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 5.29rem;margin-right: 0.55rem"></div>
                    <div class="box" style="width: 2.4rem;margin-right: 0.52rem"></div>
                    <div class="box" style="width: 0.31rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 5.29rem;margin-right: 0.55rem"></div>
                    <div class="box" style="width: 2.4rem;margin-right: 0.52rem"></div>
                    <div class="box" style="width: 0.31rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 5.29rem;margin-right: 0.55rem"></div>
                </div>
                <div class="dowebok">
                    <div class="box" style="width: 1.14rem;margin-right: 3.27rem"></div>
                    <div class="box" style="width: 2.28rem;margin-right: 2.72rem"></div>
                    <div class="box" style="width: 2.28rem;margin-right: 2.72rem"></div>
                    <div class="box" style="width: 1.14rem;margin-right: 3.27rem"></div>
                    <div class="box" style="width: 1.14rem;margin-right: 3.27rem"></div>
                    <div class="box" style="width: 2.28rem;margin-right: 2.72rem"></div>
                </div>
                <div class="dowebok">
                    <div class="box" style="width: 2.37rem;margin-right: 7.05rem"></div>
                    <div class="box" style="width: 2.37rem;margin-right: 7.05rem"></div>
                    <div class="box" style="width: 2.37rem;margin-right: 7.05rem"></div>
                    <div class="box" style="width: 2.37rem;margin-right: 7.05rem"></div>
                </div>
                <div class="dowebok">
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                </div>
                <!-- 分割线 -->
                <div class="dowebok">
                    <div class="box" style="width: 4.43rem;margin-right: 0.84rem"></div>
                    <div class="box" style="width: 0.64rem;margin-right: 1.05rem"></div>
                    <div class="box" style="width: 2.12rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 4.43rem;margin-right: 0.84rem"></div>
                    <div class="box" style="width: 0.64rem;margin-right: 1.05rem"></div>
                    <div class="box" style="width: 2.12rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 4.43rem;margin-right: 0.84rem"></div>
                    <div class="box" style="width: 0.64rem;margin-right: 1.05rem"></div>
                    <div class="box" style="width: 2.12rem;margin-right: 0.34rem"></div>
                </div>
                <div class="dowebok">
                    <div class="box" style="width: 2.4rem;margin-right: 0.52rem"></div>
                    <div class="box" style="width: 0.31rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 5.29rem;margin-right: 0.55rem"></div>
                    <div class="box" style="width: 2.4rem;margin-right: 0.52rem"></div>
                    <div class="box" style="width: 0.31rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 5.29rem;margin-right: 0.55rem"></div>
                    <div class="box" style="width: 2.4rem;margin-right: 0.52rem"></div>
                    <div class="box" style="width: 0.31rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 5.29rem;margin-right: 0.55rem"></div>
                </div>
                <div class="dowebok">
                    <div class="box" style="width: 1.14rem;margin-right: 3.27rem"></div>
                    <div class="box" style="width: 2.28rem;margin-right: 2.72rem"></div>
                    <div class="box" style="width: 2.28rem;margin-right: 2.72rem"></div>
                    <div class="box" style="width: 1.14rem;margin-right: 3.27rem"></div>
                    <div class="box" style="width: 1.14rem;margin-right: 3.27rem"></div>
                    <div class="box" style="width: 2.28rem;margin-right: 2.72rem"></div>
                </div>
                <div class="dowebok">
                    <div class="box" style="width: 2.37rem;margin-right: 7.05rem"></div>
                    <div class="box" style="width: 2.37rem;margin-right: 7.05rem"></div>
                    <div class="box" style="width: 2.37rem;margin-right: 7.05rem"></div>
                    <div class="box" style="width: 2.37rem;margin-right: 7.05rem"></div>
                </div>
                <div class="dowebok">
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                </div>
                <!-- 分割线 -->
                <div class="dowebok">
                    <div class="box" style="width: 4.43rem;margin-right: 0.84rem"></div>
                    <div class="box" style="width: 0.64rem;margin-right: 1.05rem"></div>
                    <div class="box" style="width: 2.12rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 4.43rem;margin-right: 0.84rem"></div>
                    <div class="box" style="width: 0.64rem;margin-right: 1.05rem"></div>
                    <div class="box" style="width: 2.12rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 4.43rem;margin-right: 0.84rem"></div>
                    <div class="box" style="width: 0.64rem;margin-right: 1.05rem"></div>
                    <div class="box" style="width: 2.12rem;margin-right: 0.34rem"></div>
                </div>
                <div class="dowebok">
                    <div class="box" style="width: 2.4rem;margin-right: 0.52rem"></div>
                    <div class="box" style="width: 0.31rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 5.29rem;margin-right: 0.55rem"></div>
                    <div class="box" style="width: 2.4rem;margin-right: 0.52rem"></div>
                    <div class="box" style="width: 0.31rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 5.29rem;margin-right: 0.55rem"></div>
                    <div class="box" style="width: 2.4rem;margin-right: 0.52rem"></div>
                    <div class="box" style="width: 0.31rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 5.29rem;margin-right: 0.55rem"></div>
                </div>
                <div class="dowebok">
                    <div class="box" style="width: 1.14rem;margin-right: 3.27rem"></div>
                    <div class="box" style="width: 2.28rem;margin-right: 2.72rem"></div>
                    <div class="box" style="width: 2.28rem;margin-right: 2.72rem"></div>
                    <div class="box" style="width: 1.14rem;margin-right: 3.27rem"></div>
                    <div class="box" style="width: 1.14rem;margin-right: 3.27rem"></div>
                    <div class="box" style="width: 2.28rem;margin-right: 2.72rem"></div>
                </div>
                <div class="dowebok">
                    <div class="box" style="width: 2.37rem;margin-right: 7.05rem"></div>
                    <div class="box" style="width: 2.37rem;margin-right: 7.05rem"></div>
                    <div class="box" style="width: 2.37rem;margin-right: 7.05rem"></div>
                    <div class="box" style="width: 2.37rem;margin-right: 7.05rem"></div>
                </div>
                <div class="dowebok">
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                    <div class="box" style="width: 2.30rem;margin-right: 7.11rem"></div>
                </div>
                <!-- 分割线 -->
                <div class="dowebok">
                    <div class="box" style="width: 4.43rem;margin-right: 0.84rem"></div>
                    <div class="box" style="width: 0.64rem;margin-right: 1.05rem"></div>
                    <div class="box" style="width: 2.12rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 4.43rem;margin-right: 0.84rem"></div>
                    <div class="box" style="width: 0.64rem;margin-right: 1.05rem"></div>
                    <div class="box" style="width: 2.12rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 4.43rem;margin-right: 0.84rem"></div>
                    <div class="box" style="width: 0.64rem;margin-right: 1.05rem"></div>
                    <div class="box" style="width: 2.12rem;margin-right: 0.34rem"></div>
                </div>
                <div class="dowebok">
                    <div class="box" style="width: 2.4rem;margin-right: 0.52rem"></div>
                    <div class="box" style="width: 0.31rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 5.29rem;margin-right: 0.55rem"></div>
                    <div class="box" style="width: 2.4rem;margin-right: 0.52rem"></div>
                    <div class="box" style="width: 0.31rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 5.29rem;margin-right: 0.55rem"></div>
                    <div class="box" style="width: 2.4rem;margin-right: 0.52rem"></div>
                    <div class="box" style="width: 0.31rem;margin-right: 0.34rem"></div>
                    <div class="box" style="width: 5.29rem;margin-right: 0.55rem"></div>
                </div>
                <div class="dowebok">
                    <div class="box" style="width: 1.14rem;margin-right: 3.27rem"></div>
                    <div class="box" style="width: 2.28rem;margin-right: 2.72rem"></div>
                    <div class="box" style="width: 2.28rem;margin-right: 2.72rem"></div>
                    <div class="box" style="width: 1.14rem;margin-right: 3.27rem"></div>
                    <div class="box" style="width: 1.14rem;margin-right: 3.27rem"></div>
                    <div class="box" style="width: 2.28rem;margin-right: 2.72rem"></div>
                </div>
                <div class="dowebok">
                    <div class="box" style="width: 2.37rem;margin-right: 7.05rem"></div>
                    <div class="box" style="width: 2.37rem;margin-right: 7.05rem"></div>
                    <div class="box" style="width: 2.37rem;margin-right: 7.05rem"></div>
                    <div class="box" style="width: 2.37rem;margin-right: 7.05rem"></div>
                </div>
            </div>
            <div class="banner-title">
                <span>九吨大事记</span>
                <img src="img/pic_3.png" alt="logo">
            </div>
            <div class="content-wrapper">
                <ul class="fs0">
                    <li class="clearfloat" v-for="(item,index) in developmentHistory">
                        <div class="line"></div>
                        <div class="detail-content">
                            <h4 v-cloak>{{item.year}}年{{item.mon}}月</h4>
                            <p v-cloak>{{item.describe}}</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="team">
                <div class="team-title">
                    <span>管理团队</span>
                    <img src="img/pic_3.png" alt="logo">
                </div>
                <ul>
                    <li class="clearfloat" v-for="(item,index) in mangerList">
                        <div class="photo fr"><img :src="item.images" alt="管理者照片" v-if="index%2 == 2 || index== 0"></div>
                        <div class="introduce fr" v-if="index%2 == 2 || index== 0">
                            <p class="name" v-text="item.name"></p>
                            <p class="position" v-text="item.describe"></p>
                            <p class="detail detail-introduce" v-html="item.jianjie"></p>
                        </div>
                        <div class="photo fl"><img :src="item.images" alt="管理者照片" v-if="index%2 == 1"></div>
                        <div class="introduce fl" v-if="index%2 == 1">
                            <p class="name" v-text="item.name"></p>
                            <p class="position" v-text="item.describe"></p> 
                            <p class="detail detail-introduce" v-html="item.jianjie"></p>
                        </div>
                    </li>
                </ul>
                <div class="moblie-ul">
                    <div class="li" v-for="(item,index) in mangerList">
                        <img :src="item.images" alt="照片">
                        <div class="detail-intr" v-html="">
                            <div class="name" v-html="item.name"></div>
                            <p class="position" v-html="item.describe"></p>
                            <p class="detail detail-introduce" v-html="item.jianjie"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="footer">
            <div class="footer-box">
                <div class="contact-way-wrapper fl fs0">
                    <img src="img/pic_8.png" alt="logo">
                    <div>
                        <p v-cloak>地址：{{headerAndFooter.addr}}</p>
                        <p v-cloak><a href="tel:0147-88469258">电话：{{headerAndFooter.tel}}</a></p>
                        <p v-cloak>邮箱：{{headerAndFooter.mail}}</p>
                    </div>
                </div>
                <div class="footer-other fr fs0">
                    <ul>
                        <li><a href="index.html">首页</a></li>
                        <li v-if="!introductionPage"><a href="javascript:void(0)" v-cloak>简介</a></li>
                        <li><a href="culture.html">文化</a></li>
                        <li><a href="business.html">业务</a></li>
                        <li><a href="javascript:void(0)">关于</a></li>
                        <li><a href="recruit.html">招贤纳士</a></li>
                    </ul>
                    <div>
                        <p>© NineTon Tech Design. all rights reserved</p>
                        <p><a href="http://www.miitbeian.gov.cn">Powered by NineTon Tech...{{headerAndFooter.icp}}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/custom.js"></script>
    <script src="static/wow.min.js"></script>
    <script src="static/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/jquery.liMarquee.js"></script>
    <script src="static/axios.js"></script>


    <script>
        var vm = new Vue({
            el: "#introduction_page",
            data: {
                introductionPage: true,
                isHeight: false,
                active1: 1,
                headerAndFooter: {
                    addr: "",
                    tel: "",
                    mail: ""
                },
                developmentHistory: [],
                mangerList: []
            },

            methods: {
                showMenu: function () {
                    if (!this.isHeight) {
                        this.isHeight = true;
                    } else {
                        this.isHeight = false;
                    }
                },
                changeLang: function (e) {
                    this.active1 = e;
                    localStorage.setItem('active1', JSON.stringify(e));
                },
                //请求底部信息
                getFooterInfo: function () {
                    let _this = this;
                    axios.post(api + 'getCompanyFooter')
                        .then(function (res) {
                            let data = res.data.data;
                            _this.headerAndFooter.addr = data.addr;
                            _this.headerAndFooter.mail = data.mail;
                            _this.headerAndFooter.tel = data.tel;
                            _this.headerAndFooter.icp = data.qq;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                //请求公司简介
                getIntroductionInfo: function () {
                    let _this = this;
                    axios.post(api + 'getDevelopment')
                        .then(function (res) {
                            let data = res.data.data;
                            _this.developmentHistory = data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

                    axios.post(api + 'getMangerList')
                        .then(function (res) {
                            let data = res.data.data;
                            _this.mangerList = data;
                            // console.info(_this.mangerList);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },

            created: function () {
                let active1 = JSON.parse(localStorage.getItem('active1'));
                console.info(active1);
                if (active1) {
                    this.active1 = active1;
                }
            },

            mounted: function () {
                var _this = this;
                _this.getFooterInfo();
                _this.getIntroductionInfo();
            }
        });


        $(document).ready(function () {
            //鼠标滑动到某位置显示元素
            var wow = new WOW({
                boxClass: 'wow',
                animateClass: 'animated',
                offset: 0,
                mobile: true,
                live: true,
                circular: true
            });
            wow.init();
            //无缝滚动
            $('.dowebok').liMarquee({
                direction: 'right',
                scrollamount: 20,
                hoverstop: false
            });
        });
    </script>

</body>

</html>