* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0 auto;
    max-width: 2560px;
    height: 100%;
    font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    /* font-family: PingFangSC, Helvetica, STHeiti, Droid Sans Fallback, "微软雅黑"; */
    overflow-x: hidden;
    box-sizing: border-box;
    background: #FCFCFC;
}

a {
    text-decoration: none
}

img {
    max-width: 100%;
}

li {
    list-style: none
}

[v-cloak] {
    display: none
}

.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.fs0 {
    font-size: 0
}

/* 头部 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000000;
    z-index: 9999;
    transition: all 0.5s;
}

.navopcity {
    opacity: 0;
}

.header-space {
    width: 100%;
    height: 0.89rem;
}

.center-wrapper {
    margin: 0 auto;
    width: 11.9rem;
    font-size: 0;
}

.logo {
    float: left;
    width: 4rem;
    height: 0.3rem;
    line-height: 0.9rem;
}

.logo img {
    width: 300px;
    /* height: auto; */
    vertical-align: middle;
}

.menu {
    float: right;
    /* margin-right: 0.92rem; */
}

.menu a {
    display: inline-block;
    height: 0.9rem;
    line-height: 0.73rem;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.17rem;
    color: #ffffff;
    margin-left: 0.41rem;
    border-top: 0.1rem solid #000000;
}

.menu a:first-of-type {
    margin-left: 0;
}

.menu .active {
    border-top: 0.1rem solid #FA9D1E;
}

.mobile-menu {
    display: none
}

.language-select {
    height: 0.9rem;
    line-height: 0.9rem;
}

.language-select span {
    font-size: 0.15rem;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.language-select span:hover {
    color: #ffffff;
}

.language-select .active1 {
    color: #ffffff;
}

/* 头部 end*/
/* footer */
.footer {
    margin-top: 1.1rem;
    width: 100%;
    background: #19191A;
}

.footer-box {
    margin: 0 auto;
    width: 11.9rem;
    height: 2.5rem;
    padding: 0.35rem 0;
    box-sizing: border-box;
}

.contact-way-wrapper {
    box-sizing: border-box;
    height: 100%;
}

.contact-way-wrapper img {
    /* width: 2.17rem; */
    height: auto;
    /* max-height: 0.35rem; */
}

.contact-way-wrapper div {
    margin-top: 0.3rem;
}

.contact-way-wrapper div p {
    margin-bottom: 0.1rem;
    font-size: 0.14rem;
    color: #ffffff;
}

.contact-way-wrapper div p a {
    font-size: 0.14rem;
    color: #ffffff;
}

.contact-way-wrapper div p:last-of-type {
    margin: 0;
}

.footer-other {
    box-sizing: border-box;
    height: 100%;
}

.footer-other ul li {
    margin-left: 0.66rem;
    display: inline-block;
    /* font-size: 0.17rem;
    color: #c5c5c5;
    cursor: pointer; */
}

.footer-other ul li a {
    font-size: 0.17rem;
    color: #c5c5c5;
}

.footer-other ul li a:hover {
    color: #ffffff;
}

.footer-other div {
    margin-top: 1rem;
}

.footer-other div p {
    font-size: 0.13rem;
    color: #C5C5C5;
    text-align: right;
}

.footer-other div p a {
    font-size: 0.13rem;
    color: #C5C5C5;
}

.footer-other div p a:hover {
    color: #ffffff;
}

.moblie-menu-box {
    display: none;
}

/* footer end */
/* animate.css 动画重置 */
.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/*不同移动设备不同屏幕宽度*/
@media screen and (max-width: 1281px) {
    .footer-box {
        min-height: 3rem;
    }

    .bottom-content {
        margin-top: 0;
    }

    .footer-other div {
        margin-top: 1.3rem;
    }
}

@media screen and (max-width: 770px) {
    .header {
        width: 100%;
        box-sizing: border-box;
        padding: 0 0.4rem 0 0.34rem;
        height: 1rem;
    }

    .center-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .menu {
        display: none;
    }

    .logo {
        width: 3.16rem;
        height: 100%;
        line-height: 1rem;
    }

    .language-select {
        display: none;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 0.32rem;
        width: 0.36rem;
    }

    .mobile-menu-close {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 0.34rem;
        width: 0.4rem;
    }

    .mobile-menu-close>div {
        width: 100%;
        height: 0.04rem;
        background: #ffffff;
    }

    .mobile-menu-close .line1 {
        transform: rotate(45deg);
        transform-origin: 0% 0%
    }

    .mobile-menu-close .line2 {
        transform: rotate(-45deg);
        transform-origin: 0% 0%
    }

    .mobile-menu>div {
        width: 100%;
        height: 0.04rem;
        background: #ffffff;
    }

    .clearfloat::after {
        display: none
    }

    .header-space {
        height: 1rem;
    }

    .footer {
        display: flex;
        display: -webkit-flex;
        margin-top: 0.6rem;
    }

    .footer-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 4.2rem;
    }

    .contact-way-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0.5rem 0 0rem 0;
    }

    .contact-way-wrapper img {
        width: 3.36rem;
        height: 0.6rem;
    }

    .contact-way-wrapper div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer-other {
        margin-top: 0.3rem;
        padding: 0;
        height: auto;
    }

    .footer-other ul {
        display: none
    }

    .footer-other div {
        margin: 0;
    }

    .footer-other div p {
        text-align: center;
    }

    /* 菜单框 */
    .moblie-menu-box {
        display: block;
        position: fixed;
        top: 1rem;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1100;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s linear;
        -moz-transition: max-height 0.3s linear;
        -webkit-transition: max-height 0.3s linear;
        -o-transition: max-height 0.3s linear;
    }

    .moblie-menu-box div {
        margin-top: 2.8rem;
    }

    .moblie-menu-box a {
        position: relative;
        padding: 0.3rem 0;
        display: block;
        text-align: center;
        width: 100%;
        color: #ffffff;
        font-size: 0.34rem;
    }

    .moblie-menu-box .active img {
        position: absolute;
        top: -10%;
        left: 53%;
        margin-left: -0.7rem;
        width: 1.4rem;
        height: auto;
        z-index: 1000;
    }

    .height-auto {
        max-height: 100%;
    }

    .moblie-menu-box .lang {
        text-align: center;
        font-size: 0.3rem;
        color: #ffffff;
    }
}

@media screen and (max-width: 321px) {
    .footer-box {
        height: 4.2rem;
    }
}