/* banner */
#index_page{
    min-height: 100%;
}
.video-wrapper {
    position: relative;
    width: 100%;
}

.video {
    width: 100%;
    height: auto;
}

.mobile-banner {
    display: none;
}

.everything-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0.6rem;
    color: #ffffff;
}

.everything-text span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.everything-text img {
    display: none;
}

/* 主体内容 */
.main {
    margin: 0.5rem auto 0 auto;
    width: 11.9rem;
    min-height: 500px;
}
.main_add{
    min-height: 100px;
}
.main .title {
    margin: 0 auto;
    width: 16%;
    height: 0.35rem;
    line-height: 0.35rem;
    font-weight: bold;
}

.title span {
    margin-right: 5%;
    font-size: 0.35rem;
    color: #19191A;
}

.title img {
    width: 7.88%;
    height: auto;
}

.introduction {
    margin-top: 0.4rem;
    width: 100%;
    font-size: 0.18rem;
    color: #666666;
    line-height: 24px;
    text-align: justify;
}

.line {
    position: relative;
    margin-top: 0.42rem;
    height: 1px;
    background: #D8D8D8;
}

.line div {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2.5px;
    margin-left: -1.2605%;
    width: 2.521%;
    height: 5px;
    background: #FA9D1E;
}

.moblie-box-show {
    display: none;
}

.box-show {
    margin-top: 0.47rem;
}

.box-show li {
    position: relative;
    display: inline-block;
    width: 2.9rem;
    height: 5.05rem;
    margin-right: 0.09rem;
}

.box-show li:last-of-type {
    margin-right: 0;
}

.box-show li img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
}

.bottom-text {
    margin-top: 3.75rem;
    padding-left: 17.24%;
    width: 100%;
    box-sizing: border-box;
}

.box-title {
    font-size: 0.22rem;
    color: #ffffff;
}

.box-content {
    font-size: 0.15rem;
    color: #C5C5C5;
}

.bottom-content {
    margin-top: 0.1rem;
    width: 100%;
    padding: 0 8.62%;
    box-sizing: border-box;
    /* line-height: 0.22rem; */
    font-size: 0.15rem;
    color: #C5C5C5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/*不同移动设备不同屏幕宽度*/
@media screen and (max-width: 1281px) {
    .bottom-content{
        margin-top: 0
    }
}

@media screen and (max-width: 770px) {
    .video {
        display: none
    }

    .mobile-banner {
        display: block;
        width: 100%;
        height: 4.8rem;
    }

    .mobile-banner img {
        width: 100%;
        height: 100%;
    }

    .everything-text img {
        margin-top: 0.5rem;
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 0.4rem;
        margin-top: .56rem;
        box-sizing: border-box;
    }

    .main .title {
        width: auto;
        margin: 0;
    }

    .title span {
        font-size: 0.4rem;
        margin-right: 0.1rem;
    }

    .title img {
        width: 0.2rem;
        height: auto;
    }

    .introduction {
        margin-top: 0.3rem;
        font-size: 0.28rem;
        line-height: 0.44rem;
        text-align: justify;
    }

    .line {
        display: none;
    }

    .box-show {
        display: none;
    }

    .moblie-box-show {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .moblie-box-show li {
        margin-right: 0;
        margin-bottom: 0.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .moblie-box-show li:last-of-type {
        margin: 0;
    }

    .moblie-box-show li img {
        width: 100%;
        height: auto;
    }

    .moblie-box-show li .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.3rem 0.4rem 0.28rem 0.4rem;
        box-sizing: border-box;
        height: 2.2rem;
        background: #000000;
    }

    .moblie-box-show li .bottom .title-box {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .moblie-box-show li .bottom .title-box .icon {
        display: inline-block;
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 100% 0 0 0;
        background: #FA9D1E;
    }

    .moblie-box-show li .bottom .title-box .text {
        margin-left: 0.2rem;
        font-size: 0.44rem;
        font-weight: 500;
        color: #ffffff;
    }

    .moblie-box-show li .bottom p {
        font-size: 0.3rem;
        color: #ffffff;
    }
}

/*2018年12月5日11:25:43; ffw -add*/
.main_add .item2 {
    margin: 0.45rem auto 0 auto;
    width: 11.91rem;
}

.main_add .item2 li {
    position: relative;
    margin-bottom: 0.5rem;
}

.main_add .item2 li:last-of-type {
    margin-bottom: 0;
}

.main_add .item2 li .img {
    width: 7rem;
    height: 4.48rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.add_img_outer{
    width: 7rem;
    height: 4.48rem; 
    position: relative;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.add_img_outer .play_icon_ab{
    width: 72px;
    position: relative;
    z-index: 99;
}
.main_add .item2 li .right-desc {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -1.25rem;
    width: 6.02rem;
    height: 2.5rem;
    background: rgba(25,25,26,0.85);
    padding: 0.38rem 0.3rem;
    box-sizing: border-box;
    z-index: 100;
}

.main_add .item2 li .right-desc h4 {
    font-size: 0.35rem;
    color: #ffffff;
}

.main_add .item2 li .right-desc .line{
    margin-top: 0.2rem;
    width: 0.3rem;
    height: 0.05rem;
    background: #FA9D1E;
}

.main_add .item2 li .right-desc p {
    margin-top: 0.3rem;
    font-size: 0.15rem;
    color: #ffffff;
    /* line-height: 0.25rem; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.moblie-item2,
.moblie-item {
    display: none;
}
/*不同移动设备不同屏幕宽度*/
@media screen and (max-width: 770px) {

    .moblie-item2,
    .moblie-item {
        display: block;
    }
    .item2{
        display: none;
    }
    .moblie-item {
        position: relative;
        margin-top: 0.4rem;
    }
    .main .block {
        border-bottom: 0;
        padding-bottom: 0;
    }

    .main .block .title .line {
        margin: 0.2rem auto;
        width: 0.6rem;
        height: 0.1rem;
    }

    .moblie-item2 {
        margin-top: 0.5rem;
    }
    .moblie-item2 li .img{
        width: 2.6rem;
        height: 1.62rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .moblie-item2 li .add_img_outer {
        float: left;
        margin-right: 0.24rem;
        width: 2.6rem;
        height: 1.62rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .add_img_outer .play_icon_ab{
        width: 0.5rem;
        position: relative;
        z-index: 99;
    }
    .moblie-item2 li {
        min-height: 1.626rem;
        margin-bottom: 0.4rem;
        padding-bottom: 0.4rem;
        font-size: 0.24rem;
        color: #666666;
        text-align: justify;
        border-bottom: 1px solid #D8D8D8;
    }

    .moblie-item2 li .moblie-title {
        font-size: 0.3rem;
        color: #19191A;
        font-weight: 800;
    }

    .moblie-item2 li .content {
        margin-top: 0.2rem;
        font-size: 0.24rem;
        color: #666666;
    }

    .moblie-item2 li:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    /* .moblie-item2 li div{

    } */
}