.main {
    margin: 0 auto;
    width: 11.9rem;
    min-height: 700px;
}

.main .first-piece {
    margin-top: 0.6rem;
    text-align: center;
}

.main h1 {
    font-size: 0.45rem;
    color: #222222;
    font-weight: 500;
}

.main .first-piece p {
    margin-top: 0.05rem;
    font-size: 0.17rem;
    color: rgba(34, 34, 34, 0.3);
}

.main .first-piece .photo-wall {
    margin-top: 0.4rem;
}

.main .first-piece .position-btn {
    display: block;
    margin-top: 0.52rem;
}

.main .second-piece {
    margin-top: 1.4rem;
    text-align: center;
}

.main .second-piece h1 {
    margin-bottom: 0.8rem;
}

.main .second-piece .get {
    margin-bottom: 1rem;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main .second-piece .get1{
    display: flex
}

.main .second-piece .get2{
    display: none
}

/* .main .second-piece .get>div {
    display: inline-block;
} */
/* .main .second-piece .get .photo img {
    width: 5.96rem;
    height: 4.24rem;
} */
.main .second-piece .get .ml33 {
    margin-left: 0.33rem;
}

.main .second-piece .get .mr33 {
    margin-right: 0.33rem;
}

.main .second-piece .get .detail-get h4 {
    margin-bottom: 0.22rem;
    font-size: 0.3rem;
    color: #191919;
    text-align: left;
}

.main .second-piece .get .detail-get p {
    margin-bottom: 0.1rem;
    font-size: 0.18rem;
    color: #666666;
    text-align: left;
    line-height: 1.8
}

.main .second-piece .get .web-photo{
    display: block;
}
.main .second-piece .get .moblie-photo{
    display: none;
}

/*不同移动设备不同屏幕宽度*/
@media screen and (max-width: 770px) {
    .main{
        padding: 0 0.4rem;
        width: 7.5rem;
        box-sizing: border-box;
    }
    .main h1{
        font-size: 0.5rem;
    }
    .main .first-piece p{
        margin-top: 0.3rem;
        font-size: 0.3rem;
    }
    .main .first-piece .position-btn{
        margin-top: 0.4rem;
    }
    .main .first-piece .position-btn img{
        width: 3.2rem;
        height: auto;
    }
    .main .second-piece{
        margin-top: 1rem;
    }
    .main .second-piece .get{
        flex-direction: column;
        align-items: center;
    }
    .main .second-piece .get .detail-get{
        margin: 0;
        margin-top: 0.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main .second-piece .get{
        margin-bottom: 0.7rem;
    }
    .main .second-piece .get .detail-get h4{
        font-size: 0.4rem;
    }
    .main .second-piece .get .detail-get p{
        font-size: 0.3rem;
        text-align: center;
    }
    .main .second-piece .get .web-photo{
        display: none;
    }
    .main .second-piece .get .moblie-photo{
        display: block;
    }

    .main .second-piece .get1{
        display: none
    }
    
    .main .second-piece .get2{
        display: flex
    }
}