.width_img {
	width: 200px;
}

.width_img img{
	width: 100%!important;
}
.width_200{
	width: 200px;
}
.width_100{
	width: 100px;
}
.width_200 img{
	width: 100%;
}
.width_100 img{
	width: 100%;
}
.form-group img{ 
	width: 100%;
}
.width_300{
	width: 300px;
}
.width_300 img{
	width: 100%;
}
.navbar-default .navbar-brand{
	color: #434343;
}
.glyphicon{
	margin-right: 10px;
}
#img0{
	max-height: 210px;
}
#btn_del{
	margin: 20px ;
}
.img-circle{
	width: 40px;
	height: 40px;
}
#modal_d{
	width:400px;
}
#ok_btn1{
	margin-left: 20px;
}
.choose{
	height: 34px;
	font-size: 14px;
	color: #fff;
	width: 100px;
	text-align: center;
	background: #337ab7;
	line-height: 34px;
	position: relative; 
	margin: 10px 0;
}
.choose input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.fanye{
	text-align: right;
}
.navbar-default{
	background: #000!important;
}
.navbar-default .navbar-nav > li > a{
	color: #fff!important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background: #fff;
	color: #000!important;
}
.navbar-default .navbar-brand{
	color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background: #000!important;
}
.navbar  .navbar-nav > li > .dropdown-menu{
	background: #000!important;
}
.navbar .dropdown-menu > li > a{
	color: #fff!important;
}
.dropdown-menu > li > a:hover{
	color: #000!important;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
	background: #000!important;
}
.nav-tabs > li > a{
	color: #000;
}
.navbar-right li{
	height: 50px;
}
.navbar-right li img{
	margin-top: 5px;
}
.dropdown-menu li{
	height: 30px;
}
#Mycanvas{
	position: relative;
}
.login{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top:20%;
	text-align: center;
}
.input_btn{
	font-size: 16px;
	color: #000;
	margin-bottom: 20px;
	text-align: center;
}
.input_btn input{
	width: 250px;
	padding: 10px;
	border: 1px solid #434343;
	display: inline-block;
	font-size: 14px;
	border-radius: 3px;
}
.logo{
	text-align: center;
	padding: 20px;
	padding-left:70px;
	margin-bottom: 20px;
}
.logo img{
	padding: 20px;
	background: #000;
}
.login_btn{
	padding-top: 20px;
	padding-left:48px;
	text-align: center;
}
.login_btn input{
	padding: 10px;
	width: 250px;
	text-align: center;
	color: #fff;
	background: #000;
	border-radius: 5px;
}