body{
	background: url(../images/back1.png) 0 0 no-repeat;
	background-size: cover;
}
header{
	margin-top: 0.58rem;
	width: 100%;
	height: 1.58rem;
	position: relative;
}
header .header_left{
	height: 0.66rem;
	width: 0.66rem;
	position: absolute;
	top: 0.4rem;
	left:0.24rem;
}
header .img_a{
	height: 100%;
	width: 100%;
}
header .img_a img{
	height: 100%;
	width: 100%;
	display: block;
}
header .tit1{
	height: 1.58rem;
	width: 6.6rem;
	margin-left: 0.64rem;
	margin-bottom: 0.12rem;
}
.ss_btn{
	position: relative;
}
.ss_btn img{
	height: 0.7rem;
	width: 2.34rem;
	position: absolute;
	top: 0.1rem;
	left: 0.5rem;
}
.btn{
	width: 6.64rem;
	height: 0.9rem;
	padding-left: 0.26rem;
	background: #fff;
	border-radius: 0.1rem;
	font-size: 0.3rem;
	margin-left: 0.3rem;
	color: #999;
	display: block;
	margin-top: 0.2rem;
}
.pay{
	margin: 0.2rem 0.3rem;
	background: #fff;
	padding: 0.3rem 0.03rem;
	border-radius: 5px;
}
.pay .pay_top{
	margin-bottom: 0.2rem;
}
.pay_top .pay_box{
	margin: 0 0.17rem;
	width: 1.94rem;
	height: 2.1rem;
	float: left;
	border: 1px solid #979797;
	color: #403D43;
	font-size: 0.3rem;
	box-sizing: border-box;
	border-radius: 5px;
}
.pay .pay_top .pay_box .zan_num{
	margin-top: 0.65rem;
	line-height: 0.42rem;
	text-align: center;
	font-weight: bolder;
}
.pay .prompt{
	width: 6.5rem;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #F4C3C3;
	background: #FFF3F3;
	line-height: 0.78rem;
	color: #FF426C;
	font-size: 0.26rem;
	margin-left: 0.17rem;
	box-sizing: border-box;
}
.pay_bot .prompt{
	width: 6.5rem;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #F4C3C3;
	background: #FFF3F3;
	line-height: 0.45rem;
	color: #FF426C;
	font-size: 0.26rem;
	margin-left: 0.17rem;
	box-sizing: border-box;
	padding-top: 0.1rem;
}
.pay_bot{
	width: 6.9rem;
	margin-left: 0.3rem;
	background: #fff;
	border-radius: 5px;
	padding-bottom: 0.17rem;
	margin-bottom: 1rem;
	padding-top: 0.2rem;
}
.pay_bot .wx_box{
	width: 50%;
	height: 1rem;
	color: #403D43;
	font-size: 0.26rem;
	float: left;
	font-weight: bolder;
}
.pay_bot .wx_box .pay_img1{
	height: 0.4rem;
	width: 0.4rem;
	margin-left: 0.82rem;
	margin-top: 0.3rem;
	margin-right: 0.17rem;
	float: left;
}
.pay_bot .wx_box .pay_img1 img{
	height: 100%;
	width: 100%;
}
.pay_bot .wx_box span{
	height: 1rem;
	line-height: 1rem;
	float: left;

}

.btn_ok{
	width: 6.5rem;
	height: 1rem;
	background: #FF426C;
	text-align: center;
	color: #fff;
	font-size: 0.3rem;
	line-height: 1rem;
	display: block;
	margin-left: 0.2rem;
	border-radius: 5px;
}
/*******************说说*******************/
.pay .prompt_ss{
	line-height: 0.36rem;
	padding: 0.14rem 0 0.14rem 0.15rem;
	text-align: left;
}
#ss_btn{
	padding-left: 2.6rem;
	width: 4.3rem;
	line-height: 0.9rem;
}
/*******************空间*******************/
.zone_jc{
	color:#666;
	font-size: 0.3rem;
	text-align: center;
	margin-top: 0.28rem;
	text-decoration: underline;
}
/*******************订单查询*******************/
.btn_search{
	width: 6.9rem;
	padding-left: 0;
	background: #FF426C;
	color: #fff;
	margin-top: 0.4rem;
	font-weight: bolder;
	margin-bottom: 0.4rem;
}
.search_list{
	padding: 0 0.3rem;
}
.search_list .list_title{
	padding: 0 0.26rem;
	font-size: 0.26rem;
	color: #fff;
}
.search_list .list_title .tit_left{
	width: 1.88rem;
	margin-right: 0.3rem;
	float: left;
	height: 0.36rem;
	line-height: 0.36rem;
	text-align: left;
}
.search_list .list_title .tit_mid{
	width: 2.5rem;
	float: left;
	height: 0.36rem;
	line-height: 0.36rem;
	text-align: center;
}
.search_list .list_title .tit_right{
	width: 1.26rem;
	float: right;
	height: 0.36rem;
	line-height: 0.36rem;
	text-align: right;
}
.list_box{
	padding: 0 0.26rem;
	border-radius: 10px;
	background: #fff;
	margin-top: 0.1rem;
}
.list_box .sm_box{
	padding: 0.28rem 0;
	font-size: 0.3rem;
	color: #403D43;
	border-top: 1px solid #D5D5D5;
}
.list_box .sm_box .content_left{
	width: 1.88rem;
	margin-right: 0.3rem;
	float: left;
	text-align: left;
}
.list_box .sm_box .content_mid{
	width: 2.5rem;
	float: left;
	text-align: center;
}
.list_box .sm_box .content_right{
	width: 1.26rem;
	float: right;
	text-align: right;
}
/*******************qq会员*******************/
.vip_choose{
	border-radius: 5px;
	padding:0 0.18rem 0.1rem;
	background: #fff;
	margin: 0 0.3rem;
	text-align: center;
}
.vip_choose .choose_box{
	float: left;
	width: 2.86rem;
	height: 1.46rem;
	margin: 0.32rem 0.2rem 0 0.2rem;
}
.vip_choose .choose_box img{
	width: 100%;
	height: 100%;
}
.vip_choose .big_img{
	width: 3.02rem;
	height: 1.54rem;
	margin-right: 0.05rem;
	margin-top: 0.22rem;
}
.vip_choose .des{
	width: 6.08rem;
	height: 0.96rem;
	display: inline-block;
}
.vip_choose .des img{
	width: 100%;
	height: 100%;
	display: block;
}
.pay_month{
	background: #fff;
	border-radius: 5px;
	padding: 0.278rem 0.05rem 0;
	margin: 0.22rem 0.3rem 1rem;
}
.pay_month .month{
	margin-bottom: 0.37rem;
}
.pay_month .month .month_choose{
	position: relative;
	border-radius: 5px;
	border:1px solid #979797;
	font-size: 0.26rem;
	color: #403D43;
	width: 1.4rem;
	height: 0.66rem;
	float: left;
	margin: 0 0.15rem;
	text-align: center;
	line-height: 0.66rem;
	box-sizing: border-box;
}
.pay_month .month .month_choose img{
	position: absolute;
	width: 0.51rem;
	height: 0.5rem;
	top: -0.04rem;
	left: -0.07rem;
}
.pay_month .month .month_ac{
	border: 2px solid #FF426C;
}
.pay_month .prompt_month{
	color: #F7446C;
	font-size: 0.26rem;
	text-align: center;
	margin: 0 0.24rem;
	padding: 0.15rem 0 0.26rem;
	border-top: 1px solid #D5D5D5;
}
.pay_bot .pay_price1{
	margin: 0 0.2rem;
	height: 0.85rem;
	line-height: 0.85rem;
	border-bottom: 1px solid #D5D5D5;
}
.pay_bot .pay_price1 .price1_txt{
	font-size: 0.34rem;
	color: #403D43;
	float: left;
}
.pay_bot .pay_price1 .price1_num{
	font-size: 0.34rem;
	color: #FF426C;
	float: right;
}
.pay_bot .pay_price1 .price1_num span{
	float: left;
	margin-right: 0.1rem;
}
.pay_bot .pay_price1 .price1_num i{
	float: left;
	color: #999;
	font-size: 0.32rem;
	text-decoration: line-through;
}
/*******************黄钻*******************/

.choose1{
	width: 3.4rem;
	height: 1.46rem;
	margin:0 auto;
	padding-top: 0.22rem;
}
.choose1 img{
	height: 100%;
	width: 100%;
}
header .header_left1{
	width: 0.35rem;
	height: 0.35rem;

}
.back2{
	width: 0.27rem;
	height: 0.27rem;
}
#none{
	background: #fff;
	height: 100%;
	position: fixed;
	left:0;
	top: 0;
	width: 100%;
}
.ss_box{
	background: #eee;
	width: 100%;
	padding: 0.3rem 0;
	margin-bottom: 0.2rem;
	border-radius: 5px;
	text-align: center;
}
.ss_box span{
	font-size: 0.28rem;
	width: 100%;
	display: block;
	margin-bottom: 0.2rem;
	text-align: center;
}
.ss_box img{
	height: 4.5rem;
	width: 4.5rem;
	display: inline-block;
}
.header_none{
	margin-top: 0.4rem;
	height: 0.8rem;
}
.append{
	padding:0 0.4rem;
}
.header_none .header_left{
	top: 0.05rem;
}
.header_none .ss_p1{
	width: 100%;
	text-align: center;
	font-size: 0.32rem;
}
