/*
    初始化 通用css，
 */

* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    display: block;
}

body, html {
    font-family: STHeiti, Microsoft YaHei, Helvetica, Arial, sans-serif!important;
}

input, button {
    background: none;
    outline: none;
    border: 0px;
}

em, i {
    font-style: normal;
}

ul, ol, li {
    list-style: none;
}

img {
    border: none;
}

textarea {
    outline: none;
    resize: none;
}

/*清除浮动*/
.clear{
    clear: both;
}

/*水平垂直居中-弹性盒子模型*/

.flex_mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/*水平两端对齐-弹性盒子模型*/

.flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/*水平等间距-弹性盒子模型*/

.flex_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


/*省略号*/

.elli {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*超出省略号两行*/

.elli_2 {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


/*input placeholder*/

 ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #999;
}

 :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
    opacity: 1;
}

 ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
    opacity: 1;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999;
}
.ac_red{
    color: #C50017;
}
.ac_money{
    color: #F7446C;
    font-size: 0.26rem;
    line-height: 0.36rem;
    text-align: center;
}
.pay_bot .back_btn{
    background: #FF426C;
}
.pay .pay_top .ac_border{
    border:2px solid #FF426C;

}

/*贯穿删除线*/
.delet_text{
    text-decoration: line-through;
}