/*
    初始化 通用css，
 */

* {
    margin: 0;
    padding: 0;
}

a, a:hover {
    text-decoration: none;
    display: block;
}
a:focus{text-decoration: none}
body, html {
    font-family: STHeiti, Microsoft YaHei, Helvetica, Arial, sans-serif!important;
}

input, button {
    background: none;
    outline: none;
    border: 0px;
}

em, i {
    font-style: normal;
}

ul, ol, li {
    list-style: none;
}

img {
    border: none;
}

textarea {
    outline: none;
    resize: none;
}

