/*header*/

header {
    padding: 0.3rem 0;
    width: 100%;
}

header img {
    width: 3.4rem;
    height: 0.7rem;
}


/*header end*/


/*搜索框*/

.search {
    background: #2f84d1;
    font-size: 0.28rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 0.95rem;
}

.search a {
    padding: 0.15rem 0;
}

.search img {
    height: 0.44rem;
    width: 0.44rem;
    margin-left: 0.35rem;
}
.search .search_par{
    color:rgba(255, 255, 255, 0.77);    
    width: 85%;
    height: 0.66rem;
}
.search .search_box {
    padding-left:0.15rem;
    background: #4491d6;
    display: flex;
    align-items: center;
    border: 1px solid #539ad9;
    border-radius: 5px;
    margin-left: 0.28rem;
    height: 0.66rem;
    line-height: 0.66rem;
}

.search .search_box img {
    margin-right: 0.15rem;
    margin-left: 0;
}

.search .search_box span {
    height: 100%;
}


/*搜索框 end*/
/*定位盒子*/
.fixed_ac{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.fixed_ac1{
    position: fixed;
    left: 0;
    top: 0.95rem;
    z-index: 99;
}
/*定位盒子 end*/

/*咨询名医*/

.zixun_doc {
    border-bottom: 1px solid #f0f1f2;
}

.zixun_doc .doc_box {
    width: 50%;
    height: 2.22rem;
}

.zixun_doc .doc_box a {
    width: 100%;
    height: 100%;
}

.zixun_doc .doc_box img {
    height: 100%;
    width: 100%;
}


/*咨询名医 end*/


/*热门视频*/

.news {
    padding: 0.15rem 0 0.15rem 0.28rem;
    height: 0.9rem;
}

.news .news_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.news .news_left .news_lebox {
    width: 100%;
}

.news .news_left .news_lebox h3 {
    font-size: 0.34rem;
    font-weight: bolder;
    color: #ff8939;
    margin-right: 0.28rem;
}

.news .news_left .news_lebox span {
    color: #f94b68;
    font-size: 0.28rem;
    padding: 0 0.1rem;
    border: 1px solid #f94b68;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top:0.05rem;
}

.news .news_right {
    overflow: hidden;
    height: 0.9rem;
    width: 70%;
}

.news .news_right {
    font-size: 0.28rem;
    color: #a8a8a8;
    padding-left: 0.15rem;
}

.news .news_right a {
    display: flex;
    align-items: center;
    color: #a8a8a8;
    margin-bottom: 0.12rem;

}
.news .news_right a img {
    width: 0.08rem;
    height: 0.1rem;
    margin-right: 0.15rem;
}

.news .news_right a span {
    margin-right: 0.3rem;
    font-size: 0.24rem;
    padding-bottom:0.01rem;
}

.news .news_right a i {
    width: 74%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.28rem;
}
.news .news_right li{
    height: 0.84rem;
    padding-top: 0.04rem;
}

/*热门视频 end*/


/*灰色空盒子*/

.gray_boxnew {
    background: #f0f1f2;
    height: 0.2rem;
    width: 100%;
}


/*灰色空盒子end*/


/*热门科室病症*/

.label_title {
    padding: 0.15rem 0.25rem;
    border-bottom: 1px solid #f0f1f2;
}

.label_title h4 {
    color: #5b5b5b;
    font-size: 0.3rem;
}

.label_title span a {
    color: #bababa;
    font-size: 0.3rem;
}

.label_title span img {
    width: 0.1rem;
    height: 0.17rem;
}

.label_box {
    padding: 0 0.15rem 0.4rem 0.15rem;
}

.label_box .label_list {
    padding-top: 0.3rem;
    border-bottom: 1px solid #eff5fb;
    width: 100%;
    height: 0.44rem;
    display: flex;
}

.label_box .label_list .list_left {
    width: 1.17rem;
    height: 0.44rem;
    font-size: 0.28rem;
    color: #fff;
    position: relative;
}

.label_box .label_list .list_left img {
    width: 100%;
    height: 100%;
}

.label_box .label_list .list_left i {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0.15rem;
    top: 0;
    display: flex;
    align-items: center;
}

.label_box .label_list .label_sbox {
    flex-grow: 1;
}

.label_box .label_list .label_sbox a {
    font-size: 0.28rem;
    color: #5b5b5b;
}

.label_box .label_list .label_sbox .ac_or {
    color: #ff8939;
}


/*热门科室病症 end*/


/*广告轮播图*/

#ad {
    height: 2.3rem;
    width: 100%;
}
#ad a{
    width: 100%;
    height: 100%;
}
#ad .swiper-container {
    width: 100%;
    height: 100%;
}

#ad .swiper-slide img {
    width: 100%;
    height: 100%;
}


/*广告轮播图 end*/


/*人生阶段*/


/*人生阶段 end*/
.life {
    font-size: 0;
}
.life .life_icon{
    padding-top: 0.3rem;
    width: 100%;
    overflow: hidden;
}
.life .life_icon .swiper-slide{
    display: inline-block;
    text-align:center;
    width: 1.6rem;
    height: 1.88rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.life .life_icon .swiper-slide:nth-child(1){
    margin-left: 0.25rem;
}
.life .life_icon .icon_ac{
    justify-content: space-between;
}
.life .life_icon .swiper-slide img{
    height: 0.72rem;
    width: 0.72rem;
    border-radius: 50%;
    border:1px solid #e4e4e4;
    display: inline-block;
}
.life .life_icon .swiper-slide p{
    font-size: 0.28rem;
    color: #898989;
}
.life .life_icon .icon_ac img{
    color:#3a6b9a;
    transform: scale(1.6);
    transition: 1s;
    margin-top: 0.2rem;
}
.life .life_icon .icon_ac p{
    color: #464646;
    font-weight: bolder;
}
.life .life_content {
    border-bottom: 1px solid #f0f1f2;
}

.life .life_content .life_box {
    width: 47%;
    padding: 0.2rem 0;
}

.life .life_content .life_box .img_box {
    height: 2rem;
    width: 100%;
    position: relative;
}

.life .life_content .life_box .img_box img {
    width: 100%;
    height: 100%;
}

.life .life_content .life_box .img_box .red_box {
    position: absolute;
    top: 0;
    right: 0.14rem;
    width: 0.6rem;
    height: 0.44rem;
}

.life .life_content .life_box .img_box .fen {
    color: #fff;
    font-size: 0.24rem;
    position: absolute;
    bottom: 0.18rem;
    left: 0.1rem;
}

.life .life_content .life_box .img_box .time {
    border-radius: 3px;
    width: 0.75rem;
    height: 0.45rem;
    line-height: 0.45rem;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0.1rem;
    right: 0.1rem;
    background: rgba(0, 0, 0, 0.5);
    font-size: 0.24rem;
}

.life .life_content .life_box p {
    color: #464646;
    font-size: 0.28rem;
    width: 100%;
    margin-top: 0.1rem;
    font-weight: bolder;
}

.life .life_content .life_box i {
    color: #8d8d8d;
    font-size: 0.28rem;
    width: 100%;
    display: block;
}

.life_bot {
    padding: 0.2rem 0;
    font-size: 0.28rem;
}

.life_bot a {
    color: #bebebe;
}

.life_bot .function {
    width: 50%;
}

.life_bot .img1 {
    height: 0.25rem;
    width: 0.25rem;
    margin-right: 0.2rem;
}

.life_bot .img2 {
    width: 0.56rem;
    height: 0.14rem;
    margin-right: 0.2rem;
}
/*推荐*/
#top_nav {
	width: 100%;
	overflow: hidden;
	font: 16px/32px hiragino sans gb, microsoft yahei, simsun;
	padding: 0.2rem 0;
    border-bottom: 1px solid #f0f1f2;
    background: #fff;
}
#top_nav .swiper-slide {
	padding: 0 0.3rem;
    display: inline-block;
	/*letter-spacing:2px;*/
	text-align:center;
    width: auto!important;
}
#top_nav .swiper-slide span{
	transition:all .3s ease;
	display:block;
	font-size: 0.28rem;
	height: 0.6rem;
    color: #a5a5a5;
}
#top_nav .active span{
	transform:scale(1.1);
	color:#2f84d1;
	transition: all .3s ease;
	border-bottom: 2px solid #2f84d1;
	box-sizing: border-box;
}
/*推荐 end*/
/*推荐视频列表*/
.video_top{
	padding:0.3rem 0.3rem 0.2rem 0.3rem;
	font-size: 0;
}
.video_top .video_a{

}
.video_top .video_tople{
	width: 100%;
}
.video_top .video_tople img{
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
    margin-right: 0.2rem;
}
.video_top .video_tople .p_box h3{
	font-size: 0.32rem;
	color: #464646;
}
.video_top .video_tople .p_box span{
	font-size: 0.28rem;
	color: #bebebe;
}
.video_top .video_tople .p_box h3 span{
	font-size: 0.24rem;
	color: #bebebe;
}
.video_box .video_top .bor_none{
	border:none;
	color: #b4b4b4;
}
.video_top .gz{
	color: #2e84d1;
	font-size: 0.28rem;
	border:1px solid #2e84d1;
	padding: 0.07rem 0.16rem;
	border-radius: 14px;
}
.video_top .gz img{
	width: 0.2rem;
	height: 0.2rem;
}
.video_text{
	font-size: 0.3rem;
	padding: 0 0.3rem; 
}
.video_text p em a{
    height: 0.35rem;
    padding:0 0.1rem;
    line-height: 0.35rem;
    color: #ff8939;
    font-size: 0.24rem;
}

.video_text img{
    width: 0.36rem;
    height: 0.36rem;
    display: block;
    float: left;
}
.video_text span{
	color: #464646;
	font-weight: bolder;
}
.video_text a{
	color: #0d6fb8;
	display: inline-block;
}
.video_text i{
	color: #303030;
}
.video_img{
	padding: 0.2rem 0.1rem 0;
	position: relative;
	height: 4.05rem;
}
.video_img a{
	height: 100%;
	width: 100%;
}
.video_img img{
	width: 100%;
	height: 100%;
}
.video_img .video_icon{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.video_img .video_icon img{
	width: 0.8rem;
	height: 0.8rem;
}
.video_bot{
	height: 0.7rem;
	border-bottom: 1px solid #f0f1f2;
}
.video_bot .video_function{
	flex-grow: 1;
	font-size: 0.24rem;
	border-right: 1px solid #f0f1f2;
	height: 100%;
}
.video_bot .video_function:nth-child(3){
	border:none;
}
.video_bot .video_function:nth-child(3) img{
	width: 0.3rem;
	height: 0.3rem;
}
.video_bot .video_function a{
	color: #777;
}
.video_bot .video_function img{
	margin-right: 0.25rem;
	height: 0.25rem;
	width: 0.3rem;
}
.load_none{
    font-size: 0.26rem;
    color: #464646;
    width: 100%;
    text-align: center;
    display: none;
    height: 0.8rem;
    line-height: 0.8rem;
}
/*推荐视频列表 end
/*add*/
.life .life_tit{
    height: 0.92rem;
    line-height: 0.92rem;
    border-bottom: 1px solid #f0f1f2;
    color: #5b5b5b;
    font-size: 0.3rem;
    padding-left: 0.25rem;
    font-weight: bolder;
}