section {
    font-size: 14px;
}

label {
    font-size: 15px;
    color: #464646;
    height: 1rem;
    margin-bottom: 0.05rem;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    -webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;
    -webkit-box-pack: justify;-moz-justify-content: space-between;-webkit-justify-content: space-between;justify-content: space-between;
    border-bottom: 1px #e6e7e8 solid;
    font-weight: bold;
}

.video_header_back {
    position: absolute;
    top: 0.2rem;
    left: 0.1rem;
    z-index: 10;
}

.chooseActive {
    color: #609eda;
}

.groupChange {
    padding-top: 0.2rem;
}

.groupChange>a {
    width: 50%;
    display: block;
    float: left;
    text-align: center;
    padding-bottom: 0.1rem;
    font-size: 16px;
}

.chooseActiveLeft {
    border-bottom: 2px #6080da solid;
    width: 10px !important;
    position: relative;
    left: 24%;
}

.chooseActiveRight {
    border-bottom: 2px #6080da solid;
    width: 10px !important;
    position: relative;
    left: 71%;
}

.m_video_headTitle {
    font-size: 15px;
    margin-bottom: 0.2rem;
}

.m_video_detail_grade {
    color: #ff8939;
    font-size: 14px;
}

.m_video_grade {
    -webkit-box-pack: justify;-moz-justify-content: space-between;-webkit-justify-content: space-between;justify-content: space-between;
    flex-direction: column;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
}

.video_grade {
    height: 1rem;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    -webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;
    -webkit-box-pack: justify;-moz-justify-content: space-between;-webkit-justify-content: space-between;justify-content: space-between;
    border-top: 1px #efefef solid;
    margin-top: 0.2rem;
}

.mar_b_z_2 {
    margin-bottom: 0.2rem;
}

.mar_b_z_1 {
    margin-bottom: 0.2rem;
}

.mar_t_z_2 {
    margin-bottom: 0.2rem;
}

.pull_right {
    float: right;
}

.height_1 {
    height: 1rem;
}

.color_ca {
    color: #cacaca;
}


/*
****************************************************视频详情************************************************
*/

.m_video_info {
    border-bottom: 1px #efefef solid;
    padding-top: 0.2rem;
}

.section_info {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.color_grey {
    color: #b4b4b4;
}

.pull_left {
    float: left;
}

.pull_right {
    float: right;
}


/*
**************************************************************医生模板列表***********************************
*/

.doc_list_main {
    display: -webkit-box;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit--webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;
    -webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;
    padding: 0.2rem 0.2rem 1px 0.2rem;
    position: relative;
}

.quitQuestion {
    float: right;
    border-radius: 5px;
    border: 1px solid #2d84d1;
    color: #2d84d1;
    padding: 2px 5px;
    margin-top: 0.5rem;
}

.quitQustionSeal {
    background-color: #ffffff;
    border: 1px solid #3581c2;
    border-radius: 5px;
    padding: 2px 4px;
}

.doc_list_imgBox {
    float: left;
    margin-right: 10px;
}

.doc_list_img_a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.docLogo {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
}

.main_cont_wrap {
    float: left;
    overflow: hidden;
    width: 60%;
}

.cont_top {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit--webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;
    -webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.cont_bottom {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    position: relative;
}

.top_title {
    color: #464646;
    font-weight: normal;
    font-size: 15px;
    margin-right: 6px;
    line-height: .4rem;
}

.icon_toppush, .icon-settop, .icon-promote {
    background-size: 100%;
    width: 15px;
    height: 15px;
    display: inline-block;
    flex: 0 0 15px;
}

.cont_bottom_txt {
    width: 63%;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 63%;
    flex: 1 1 63%;
    overflow: hidden;
}

.cont_bottom .list_new_dd, .leave_msg {
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 67px;
    flex: 0 0 67px;
    width: 67px;
    height: 25px;
}

.list_new_dd {
    position: relative;
    width: 38px;
    height: 24px;
    font-size: 14px;
    color: #fc0d1b;
    text-align: right;
}

.bottom_txt_list {
    overflow: hidden;
    width: 100%;
}

ul, li {
    list-style: none;
}

.list_zsjm {
    color: #b4b4b4;
    font-size: 13px;
    width: 100%;
}

ul, li {
    list-style: none;
}

/*视频模板列表*/

.video_main_cont_wrap {
    padding: 3px 1px 3px 1%;
}

.videoLog {
    width: 2.7rem;
    height: 1.5rem;
}


/*推荐视频*/

.recommendLog {
    width: 100%;
    height: auto;
    padding: 0.1rem 0;
}

.recommendVideo {
    border-bottom: 1px #efefef solid;
    position: relative;
}

.introduce_title {
    text-indent: 0.2rem;
    font-size: 0.3rem;
}

.nameSeal {
    float: left;
    border-radius: 3px;
    border: 1px solid #fd3945;
    color: #fd3945;
    padding: 1px 5px;
    font-size: 12px;
    margin-right: 5px;
}

.more {
    font-size: 14px;
    color: #bebebe;
    text-align: center;
    line-height: .4rem;
    border-top: 1px solid #efefef;
    padding: 10px 0 5px 0;
    width: 50%;
    float: left;
}


/*
***********************************************************置底点赞**************************************************
*/

.video_input_l {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    font-size: 0;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    -webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;
    z-index: 9;
}

.pinglum {
    width: 60%;
    font-size: 14px;
    height: 0.7rem;
    border-radius: 20px;
    background-color: #f0f0f0;
    border: none;
    margin: 0.1rem 0 0.1rem 0.2rem;
    text-indent: 0.35rem;
    float: left;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    flex-direction: column;
    justify-content: center;
}

.video_inputimg_l {
    float: left;
    width: 30%;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    justify-content: space-around;
    margin-left: .1rem;
    position: relative;
}

.video_inputimg_l img {
    width: 0.4rem;
    height: 0.4rem;
}


/*
***********************************************************关注医生*********************************
*/

header {
    font-size: 16px;
    color: #000;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background: #fff;
}

header .change {
    padding: 0.2rem 0;
}

header .change span {
    margin: 0 0.2rem;
    font-size: 0.28rem;
    color: #afafaf;
    padding-bottom: 0.05rem;
}

header .change .span_active {
    border-bottom: 4px solid #5e95cb;
    color: #333;
}

.empty_gray {
    height: 0.15rem;
    background: #f0f1f2;
}

.empty {
    height: 0.8rem;
}

span {
    font-size: 12px;
    font-weight: 500;
    color: #b4b4b4;
}

.attention_title {
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    -webkit-box-pack: justify;-moz-justify-content: space-between;-webkit-justify-content: space-between;justify-content: space-between;
    -webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;
    padding: 0.2rem 0;
    border-bottom: 1px solid #f0f1f2;
}

em {
    font-size: 12px;
    color: #3581c2;
    padding-right: 0.05rem;
}

.attebox {
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    -webkit-box-pack: justify;-moz-justify-content: space-between;-webkit-justify-content: space-between;justify-content: space-between;
    padding: 0.15rem;
    border-bottom: 1px solid #f0f1f2;
    background-color: #f8f8f8;
    -webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;
}

.attebox .box1_left {
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    -webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;
    -webkit-box-pack: justify;-moz-justify-content: space-between;-webkit-justify-content: space-between;justify-content: space-between;
}

.attebox .box1_left .img_box1 {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    display: inline-block;
}

.attebox .box1_left .img_box1 img {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
}

.attebox .box1_left .info {
    display: inline-block;
    padding-left: 0.2rem;
}

.attebox .box1_left .info h4 {
    font-size: 16px;
    color: #333;
    margin-bottom: 0.1rem;
}

.attebox .box1_left .info p {
    font-size: 12px;
    color: #b4b4b4;
}

.attebox .box1_left .info em {
    font-size: 12px;
    color: #999;
}

.attebox .box1_right {
    margin-right: 0.3rem;
    -webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;
    -webkit-box-pack: justify;-moz-justify-content: space-between;-webkit-justify-content: space-between;justify-content: space-between;
    flex-direction: initial;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
}

.attebox .box1_right img {
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.1rem;
}

.attebox .box1_right span {
    font-size: 13px;
    color: #2e84d1;
    margin-top: 0.01rem;
}

.attebox .box1_right .ac_span {
    color: #afafaf;
}

.followBorder {
    border: 1px solid #2e84d1;
    padding: 4px 6px;
    border-radius: 0.3rem;
}


/* 
******************************************************评论********************************************************************
*/

.allrev_title_l {
    padding-bottom: .26rem;
    border-bottom: solid 1.2px rgb(241, 242, 243);
}

.allrev_boxnr_l {
    width: 100%;
    border-bottom: solid 1.2px rgb(241, 242, 243);
}

.allrev_box_l {
    padding-bottom: .1rem;
}

.allrev_zuo_l {
    float: left;
    border-radius: 50%;
    width: .75rem;
    height: .75rem;
    overflow: hidden;
}

.allrev_zuo_l_mini {
    float: left;
    border-radius: 50%;
    width: .5rem;
    height: .5rem;
    overflow: hidden;
    margin-top: 0.2rem;
}

.allrev_zuo_l_mini img {
    width: 100%;
}

.allrev_zuo_l img {
    width: 100%;
}

.allrev_box1_l {
    width: 70%;
    float: left;
    margin-left: .3rem;
}

.allrev_Gro {}

.allrev_box1_l_mini {
    width: 82%;
    float: left;
    margin-top: .1rem;
    margin-left: .25rem;
    margin-bottom: 0.1rem;
}

.allrev_box1_zuo_l span, .allrev_box1_zuo_l p {
    float: left;
}

.allrev_box1_zuo_l span {
    font-size: .28rem;
    color: #3581c2;
    line-height: .32rem;
}

.allrev_box1_zuo_l p {
    margin-left: .2rem;
    font-size: .23rem;
    line-height: .32rem;
    color: #999999;
}

.allrev_box1you_l {
    float: right;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    -webkit-box-pack: justify;-moz-justify-content: space-between;-webkit-justify-content: space-between;justify-content: space-between;
}

.allrev_box1you_l img {
    width: .32rem;
    height: .32rem;
}

.allrev_box1you_l p {
    color: #999999;
    padding-top: .03rem;
}

.allrev_box2_l {
    width: 90%;
    margin-top: .2rem;
}

.allrev_box2p_l {
    color: #717171;
    font-size: .28rem;
    word-wrap: break-word;
}

.allrev_zjbox_l {
    padding: .2rem;
    background-color: #f0f1f2;
    margin-top: .25rem;
    position: relative;
}

.allrev_zjnr_l {
    width: 100%;
    margin-bottom: .2rem;
}

.allrev_zjnr_l div {
    float: left;
    font-size: .23rem;
    color: #4b8bc6;
    display: block;
}

.allrev_wholeku_l {
    width: 100%;
}

.allrev_whole_l {
    font-size: .23rem;
    color: #4b8bc6;
    margin: .1rem 0;
    text-align: center;
}

.allrev_box_l {
    font-size: .32rem;
    padding-top: .1rem;
    float: left;
    width: 100%;
    border-bottom: 1px #efefef solid
}

.allrev_box_l_box {
    padding-left: .4rem;
    padding-top: 0.1rem;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
}


/*评论详情页*/

.revde_header_l {
    width: 100%;
    border-bottom: solid 1.2px rgb(241, 242, 243);
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    -webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;
    position: relative;
}

.revde_header_l img {
    width: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: .17rem;
    margin-left: .25rem;
}

.revde_header_l p {
    display: inline-block;
    font-size: .32rem;
    margin: .25rem auto;
    color: #3e3c3f;
}

.revde_box1_l span {
    font-size: .29rem;
    color: #464646;
    line-height: .32rem;
}

.revde_box1_l p {
    color: #c4c4c4;
    font-size: .23rem;
    padding-top: .1rem;
}

.revde_zan_l {
    max-width: 45%;
    margin-top: .1rem;
    margin-bottom: 0.11rem;
    float: left;
    margin-right: .3rem;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    align-items: flex-end;
}

.revde_input_l form {
    width: 100%;
}

.revde_zan_l img {
    width: .32rem;
    height: .32rem;
    float: left;
}

.revde_zan_l p {
    color: #999999;
    font-size: .23rem;
    display: inline-block;
    margin-top: .1rem;
    margin-left: .2rem;
}

.revde_input_l {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    font-size: 0;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    -webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;
}

.revde_input_l input {
    width: 88%;
    font-size: .28rem;
    height: .7rem;
    border-radius: 20px;
    background-color: #f0f1f2;
    border: none;
    display: inline-block;
    margin: 0.2rem 0 0.2rem 0.4rem;
    text-indent: .35rem;
    float: left;
}

.video_wpl_l {
    width: 100%;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    justify-content: center;
    margin: .5rem 0;
}

.video_wpl_l img {
    width: .48rem;
    height: .44rem;
}

.video_wpl_l span {
    font-size: .27rem;
    padding-left: .2rem;
    line-height: .44rem;
    color: #cdcdcd;
}

.discussAll {
    color: #2e84d1;
    font-size: 12px;
    margin-top: 0.15rem;
    margin-bottom: 0.1rem;
}

.discussGood img {
    height: 0.32rem;
    width: 0.32rem;
    float: right;
    margin-right: -0.5rem;
    margin-top: 0.05rem;
}


/*
**************************************评论弹出框***************************************************
 */

.layFrame {
    position: fixed;
    bottom: 0.9rem;
    background-color: #ffffff;
    height: 60%;
    border-top: 1px solid #f0f0f0;
    display: none;
}

.clearfix {
    overflow: auto;
    height: auto;
    clear: both;
}


/*
************************************评分*******************************************************
 */

.gradeStar {
    height: 1rem;
    display: none;
}

.gradeStar img {
    width: .4rem;
    margin-left: .05rem;
}


/*
********************************视频点击遮罩**************************************************************
 */

.img-responsive {
    display: block;
    max-width: 100%;
}

.img_model {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    -webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;
    justify-content: center;
}

.img_model img {
    height: 1rem;
}

.video_top {
    position: relative;
    height: 100%;
}


/*
********************************相关视频********************************************
 */

.showbox_time {
    background: rgba(0, 0, 0, 0.5);
    padding: 2px 3px;
    color: #ffffff;
    font-size: 0.22rem;
    position: absolute;
    bottom: 0.25rem;
    border-radius: 5px;
    left: 2rem;
}
.showbox_Discuss{
      position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  background-color: red;
  color: #ffffff;
  padding: 0.02rem 0.06rem;
  font-size: 0.25rem;
}

.showbox_time_unbackg {
    padding: 2px 3px;
    color: #ffffff;
    font-size: 0.22rem;
    position: absolute;
    bottom: 0.35rem;
    border-radius: 5px;
    right: 0.3rem;
}


/*
***************************分享***********************************
 */

.video_fenx_l {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 12;
    background-color: #fff;
    border-radius: 0.2rem 0.2rem 0 0;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;
}

.video_fenx_l span {
    font-size: .31rem;
    padding: .25rem 0;
}

.video_fenx_nr_l {
    width: 50%;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    -webkit-box-pack: justify;-moz-justify-content: space-between;-webkit-justify-content: space-between;justify-content: space-between;
    margin: .25rem 0;
}

.fenx_qx_l {
    width: 80%;
    border-radius: 30px;
    border: solid 1px #e9e9e9;
    margin: .2rem 0;
}

.fenx_qx_l p {
    text-align: center;
    font-size: .31rem;
    padding: .23rem 0;
}

.cx-box {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    display: none;
    z-index: 11;
}

.fenx_kox_l p {
    font-size: .24rem;
    text-align: center;
    color: #2f2f2f;
}


/*留言*/

.discussInput {
    z-index: 999;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.discussInput input {
    width: 70%;
    font-size: 14px;
    height: 0.7rem;
    border-radius: 20px;
    background-color: #f0f0f0;
    border: none;
    margin: 0.1rem 0.1rem 0.1rem 0.2rem;
    text-indent: 0.35rem;
    float: left;
    display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
    flex-direction: column;
    justify-content: center;
}

.discussInput button {
    height: 0.7rem;
    margin: 0.1rem 0.2rem 0.1rem 0.2rem;
    background-color: #2e84e1;
    padding: 0.04rem 0.4rem;
    border-radius: 05rem;
    color: #ffffff;
    font-size: 0.2rem;
}