.nav{
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 900;
    top: 0;
    left: 0;
    padding: 57px 0 66px;
    right: 0;
    text-align: center;
}
.logo{
    position: relative;
    float: left;
    color: #fff;
    transition: all 0.5s;
    font-size: 50px;
}