.search_box{
	padding: 0.2rem 0.2rem 0;
	position: relative;
}
.search_box input{
	background: #f0f1f2;
	color: #cfd0d1;
	color: 0.24rem;
	width: 100%;
	padding: 0.1rem 0 .1rem 0.6rem;
	border-radius: 0.1rem;
}
.search_box img{
	width: 0.3rem;
	height: 0.3rem;
	position: absolute;
	left: 0.35rem;
	top:0.35rem;
}
.sc_box{

}
.sc_box .sc_content{
	padding: 0.3rem 0.2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sc_box .sc_content .sc_imgbox{
	 position: relative;
	 width: 3.4rem;
	 height: 2rem;
 }
.sc_box .sc_content .sc_imgbox img{
 	width: 100%;
 	height: 100%;
 }
.sc_box .sc_content .sc_modl{
	position: absolute;
	top: 0;
	left: 0;
 	width: 100%;
 	height: 100%;
 	background: rgba(0, 0, 0, 0.3);
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }
.sc_box .sc_content .sc_modl img{
 	width: 0.64rem;
 	height: 0.64rem;
 }
.sc_box .sc_content .sc_time{
		position: absolute;
		bottom:0;
		left: 0.1rem;
  }
.sc_box .sc_content .sc_time img{
	height: 0.15rem;
	width: 0.15rem;
}
.sc_box .sc_content .sc_time span{
	font-size: 0.24rem;
	color: #fff;
}
.sc_imgbox em{
	background: #3581c2;
	font-size: 0.24rem;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0.02rem 0.1rem;
	color: #fff;
}
.sc_box .back_box{
	background: #f0f1f2;
	height: 0.15rem;
	width: 100%;
}
.sc_content .sc_text{
	flex-grow: 1;
	padding-left: 0.2rem;
	display: flex;
	flex-direction: column;
	height: 2rem;
	position: relative;
}
.sc_content .sc_text .sc_text_top{
	display: flex;
	align-items: center;
}
.sc_content .sc_text p{
	font-size: 0.28rem;
	color: #333;
}
.sc_content .sc_text .sc_text_top img{
	width: 0.6rem;
	height: 0.6rem;
	border:1px solid #3581c2;
	border-radius: 50%;
}
.sc_content .sc_text .sc_text_top h4{
	font-size: 0.28rem;
	color: #a1a1a1;
	margin: 0;
}
.sc_content .sc_text .sc_text_top p{
	font-size: 0.24rem;
	color: #a1a1a1;
	margin-bottom: 0;
}
.sc_content .sc_text .sc_text_top .text1{
	padding-left: 0.2rem;
}
.sc_content .sc_text .sc_text_bot{
	align-items:flex-end;
	font-size: 0.24rem;
	color: #c6c6c6;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position:absolute;
	bottom: 0;

}
