input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #cfd0d1;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #cfd0d1;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #cfd0d1;
}
input::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #cfd0d1;
}
*{margin:0;padding:0;}
a,a:hover{text-decoration: none;}
body,html{
    font-family: STHeiti, Microsoft YaHei, Helvetica, Arial, sans-serif!important;
}

input,button{
	background:none;
	outline:none;
	border:0px;
}
em,i{
	font-style: normal;
}
ul,ol,li{
	list-style: none;
}
img{
	border: none;
}
textarea{
	outline:none;
	resize:none;
}
.active_color{
	color: #3581c2;
}
/*fotter*/
.fotter{
	 width: 100%;
	 position: fixed;
	 bottom: 0;
	 left: 0;
	 display: flex;
	 justify-content: space-around;
	 padding-top: 0.1rem;
	 box-shadow:0 -0.1rem 0.1rem rgba(0, 0, 0, 0.1);
	 z-index: 10;
	 background: #fff;
 }
.fotter_box{
	text-align: center;
}
.fotter_box a{
	display: block;
	width: 100%;
	color: #a3a3a3;
	font-size: 12px;
}
.fotter_box p{
	padding-top: 0.15rem;
	margin-bottom: 0;
}
/*fotter -end*/
.empty{
	height: 0.96rem;
	padding-top: 0.1rem;
 }
