.phone{
	padding:0 0.4rem;
	border-bottom: 1px solid #f0f1f2;
	display: flex;;
	align-items: center;
	height: 1rem;
	line-height: 1rem;
}
.phone img{
	width: 0.3rem;
	height: 0.4rem;
}
.phone input{
	color: #b8b9b9;
	font-size: 0.28rem;
	flex-grow: 1;
	padding-left: 0.2rem;
}
.logo{
	padding: 0.4rem 0;
}
.yz{
	padding:0 0.4rem;
	border-bottom: 1px solid #f0f1f2;
	display: flex;;
	align-items: center;
	height: 1rem;
}
.yz img{
	width: 0.3rem;
	height: 0.4rem;
}
.yz input{
	color: #b8b9b9;
	font-size: 0.28rem;
	flex-grow: 1;
	padding-left: 0.2rem;
}
.yz .yz_box .yz_send{
	color: #fff;
	font-size: 0.24rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #2778be;
	width: 2rem;
	height: 0.7rem;
	line-height: 0.7rem;
	border-radius: 0.05rem;
}
.yz .yz_box .back_ac{
	background: #c2c1c1;
	pointer-events:none;
}
.xieyi{
	color: #666;
	font-size: 0.24rem;
	margin: 0;
	padding: 0.25rem 0 0 0.4rem; 
}
.box{
	display: flex;
	align-items: center;
	justify-content: center;
}
.box .queding{
	padding: 0.2rem 0;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2778be;
	border-radius: 20px;
	color: #fff;
	font-size: 0.32rem;
	margin: 0.5rem 0;
}