.news{
    padding: 20px 0;

}
.newsbox{
    height: 40px;
    line-height: 40px;
    padding-left:210px;
    position: relative;
    background: #f6f6f8;
    overflow: hidden;
    border-radius: 15px;
    white-space: nowrap;
    position: relative;
}
.newsbox img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.newstxtpa{
    height: 40px;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 210px;
}
.newstxt {
    height: 40px;
    display: inline-block;
}
.newstxt span{
    width: 290px;
    color: #666666;
    font-size: 12px;
    display: inline-block;
    padding-right: 50px;
}
.service{
    background: #fafafa;
    padding-bottom: 30px;
}
.service h2{
    color: #333333;
    font-size: 32px;
    line-height: 80px;
    height: 80px;
    width: 100%;
    font-weight: bold;
}
.service .ser_left{
    width: 900px;
    margin-right: 15px;
    display: inline-block;
    height: 530px;
    box-shadow: 0 0 15px #e5e5e5;
    float: left;
}
.ser_leftbox{
    width: 33.333%;
    float: left;
    height: 100%;
}
.left_smbox img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.left_smbox{
    width: 100%;
    height: 33.333%;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
    position: relative;
}
.left_smbox h4{
    font-size: 18px;
    color: #333;
    padding: 25px 0 20px;
    z-index: 999;
    font-weight: bold;
}
.left_smbox span{
    display: inline-block;
    width: 120px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    text-align: center;
    color: #666666;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 30px;
    transition: all 0.5s;
    border-radius: 3px;
    background: #fff;
    z-index: 999;
    position: relative;
}
.left_smbox i{
    color: #0b99e0;
    font-size: 4px;
    width: 100%;
    display: inline-block;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 15px;
    z-index: 999;
}
.left_smbox:hover span{
    color: #fff;
    border: 1px solid transparent;
    background: linear-gradient(to top right,#0b99e0,#66cffd);
}
.left_smbox2{
    height: 50%;
}
.left_smbox2 h4{
    padding: 40px 0 25px;
    font-weight: bold;
}
.left_smbox2 span{
    margin-bottom: 45px;
}
.ser_right{
    width: 280px;
    float: left;
}
.ser_right img{
    margin-bottom: 15px;
    width: 100%;
}
.project h2{
    color: #333333;
    font-size: 32px;
    width: 100%;
    padding: 30px 0 20px;
    font-weight: bold;
}
.choose_pro{
    text-align: center;
    width: 100%;
    font-size: 0;
    margin-bottom: 2px;
}
.choose_pro span{
    display: inline-block;
    width: 20%;
    color: #333333;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 4px solid transparent;
    transition: all 0.5s;
    cursor: pointer;
}
.choose_pro span:hover{
    color: #119de2;
    border-bottom: 4px solid #119de2;
}
.choose_pro .ac_choose{
     color: #119de2;
    border-bottom: 4px solid #119de2;   
}
.choose_content{
    width: 100%;
}
.choose_box{
    height: 320px;
    background: url(../images/back1_03.png) center no-repeat;
    background-size: cover;
    padding: 75px;
    display: none;
}
.choose_box a{
    width: 160px;
    height: 50px;
    line-height: 50px;
    border:1px solid #8f9391;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    transition: all 0.5s;
    margin: 55px 45px; 
    position: relative;
}
.choose_box a span{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}
.choose_box a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(to right, #009ef0 , #00dd9c);
    background: -o-linear-gradient(to right, #009ef0 , #00dd9c);
    background: -moz-linear-gradient(to right, #009ef0 , #00dd9c);
    background: linear-gradient(to right, #009ef0 , #00dd9c);
    transition: all 1s;
    opacity: 0;
    z-index: 1;
}

.choose_box a:hover:before{
    opacity: 1;
}
.step{
    padding-bottom: 80px;
    background: #fafafa;
}
.step h2{
    color: #333333;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    font-weight: bold;
}
.step p{
    color: #666666;
    font-size: 14px;   
    text-align: center;
    margin-bottom: 35px;
}
.step_box{
    display: flex;
    align-items: center;
}
.step_img{
    width: 180px;
    float: left;

}
.step_icon{
    width: 30px;
    margin: 0 30px;
    float: left;
}
.case h2{
    font-size: 30px;
    color: #333333;
    line-height: 90px;
    text-align: center;
    font-weight: bold;
}
.case p{
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}
.transfer{
    background: #fafafa;
}
.tran_title{
    height: 90px;
    line-height: 90px;
}
.tran_titleft{
    float: left;
}
.tran_title h2{
    color: #333333;
    font-size: 32px;
    display: inline-block;
    line-height: 90px;
    float: left;
    font-weight: bold;
}
.tran_title span{
    color: #999999;
    font-size: 14px;
    display: inline-block;
    line-height: 90px;
    margin-left: 10px;
    float: left;
}
.tran_titright{
    float: right;
    color: #666666;
    font-size: 14px;
    padding-right: 10px;
}
.tran_titright:hover{
    color: #066aa6;
}
.transfer_content{
    padding: 20px 0;
}
.transfer_box{
    padding: 20px 20px 30px;
    width: 235px;
    text-align: center;
    border:1px solid #eeeeee;
    background: #fff;
    margin-bottom: 30px;
    transition: all 1s;
}
.transfer_box:hover{
    box-shadow: 0 10px 15px #ddd;
}
.transfer_box em{
    width: 90px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #e5e5e5;
    color: #05b776;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background: #d2f2e1;
    display: inline-block;
    margin-bottom: 20px;
}
.transfer_box p{
    color: #333333;
    font-size: 14px;
    padding-bottom: 5px;
}
.transfer_box .price{
    text-align: center;
    color: #999999;
    font-size: 14px;
}
.price span{
    color: #008ed2;
    font-size: 14px;
    padding: 0 10px;
}
.by_box em{
    color: #066aa6;
    background: #d2edfd;
}
.by_box .price span{
    color: #ffb300;
}
#case_box{
    padding-bottom: 30px;
}
#case_box  .swiper-slide {
    width: 376px;
}
.opcity_box{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.6);
    transition: all 1.5s;
}
#case_box .swiper-slide-prev .opcity_box ,#case_box .swiper-slide-next .opcity_box{
    background: rgba(255,255,255,0.3);
    transition: all 1.5s;

}
#case_box .swiper-slide-active .opcity_box{
    background: rgba(255,255,255,0);
    transition: all 1.5s;
}
#case_box  .swiper-slide img{
    display:block;
    width: 100%;
    box-shadow: 0 8px 20px #d7f0fd;
}
#case_box  .swiper-slide p{
    color: #000;
    font-size: 14px;
    padding-top: 25px;
    display: none;
}
#case_box .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
    border: 3px solid #fff;
    background-color: #d5d5d5;
    width: 10px;
    height: 10px;
    opacity: 1;
}
#case_box .swiper-pagination-bullets .swiper-pagination-bullet-active {
    border: 3px solid #00aadc;
    background-color: #fff;
}
#case_box .swiper-slide-active p{
    display: block;
}
.swiper-button-prev, .swiper-button-next{
    background: none!important;
}
#case_box{
    position: relative;
    padding-top: 20px;
}
#case_box .swiper-pagination{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
}
#case_box  .swiper-pagination-bullet{
    width: 50px!important;
    height: 5px!important;
    border-radius: 0;
    border:none!important;
    background: #eee;
    margin: 0 2px!important;
}
#case_box .swiper-pagination-bullets .swiper-pagination-bullet-active{
    border:none!important;
    background: #0d90cf; 
}

