.banner{
    background: url(../images/banner_01.png) center no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 1px;
}
.logo{
    padding: 15px 0;
    text-align: center;
    height: 90px;
    line-height: 90px;
    font-size: 32px;
    color: #fff;
}
.logo img{
    display: inline-block;
    margin-right: 25px;
    line-height: 90px;
    vertical-align: middle;
}
.nav{
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    width: 100%;
    font-size: 0;
    text-align: center;
}
.nav a{
    color: #333;
    font-size: 14px;
    padding: 0 30px; 
    transition: all 0.5s;
    display: flex;
    align-items: center;
    /*float: left;*/
    display: inline-block;
}
.phone_icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:2px solid #5dcaff;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}
#header .active{
    color: #fff;
    background: #5dcaff; 
}
.phone_icon i{
    font-size: 14px;
    color: #5dcaff;
}
.nav .logo_inner{
    align-items: center;
    height: 60px;
    padding: 0 40px; 
    display: none;
}
.nav .logo_inner span{
     font-weight: bold;
    font-size: 16px;
}
.nav .logo_inner img{
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}
.nav a img{
     margin-right: 10px;
    vertical-align: middle;
}
.nav a:hover{
    color: #fff;
    background: #5dcaff;
}
.nav a:hover .phone_icon{
    border:2px solid #fff;
}
.nav a:hover i{
    color: #fff;
}
.top_content{
    padding-top: 40px;
    border-radius: 5px;
}
.content_left{
    float: left;
}
.content_left a{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    width: 195px;
    height: 65px;
    color: #333;
    font-size: 16px;
    margin-bottom: 25px;
}
.content_left a img{
    width: 25px;
    margin:0 20px;
    color: #333; 
    transition: all 0.5s;
}
.content_left a:hover img{
    margin-right: 30px;
}
.content_mid{
    width: 690px;
    height: 350px;
    background: url(../images/tc_03.png) 0 0 no-repeat;
    background-size: cover;
    float: left;
    margin-left: 25px;
    text-align: center;
    position: relative;
    border-radius: 5px;
}
.content_mid img{
    display: inline-block;
}
.content_mid .mid_txt{
    position: absolute;
    text-align: center;
    color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 55px;
}
.mid_txt h4{
    font-size: 48px;
    padding-top: 10px;
    width: 100%;
    font-weight: normal;
}
.content_right{
    width: 245px;
    border-radius: 13px;
    padding:0 12px; 
    float: right;
    background: #fff;
}
.content_right h4{
    font-size:20px;
    color: #333;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.content_right .right_txt{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
.top_content1{
    background: url(../images/back2_03.png) 0 0 no-repeat;
    background-size: cover;
    height: 360px;
    margin:10px 0; 
}
.content_right1{
    float: right;
}
.des_title{
    width: 500px;
    height: 125px;
    text-align: center;
    background: rgba(0,0,0,0.2);
    margin-right: 25px;
}
.des_title h2{
    color: #fff;
    font-size: 40px;
    padding-top: 20px;
}
.des_title p{
    font-size: 18px;
    color: #fff;
    font-family: Arial;
    padding-top: 5px;
}
.bying_btn{
    margin-top: 25px;
}
.bying_btn1{
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    width: 165px;
    background: #dba52a;
    border-radius: 5px;
    float: right;
    margin-right: 20px;
}
.bying_btn2{
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    width: 165px;
    border-radius: 5px;
    background: #4fc0ff;
    float: right;
    margin-right: 60px;
}
.right_txt span{
    color: #666666;
    font-size: 12px;
    display: inline-block;
    padding: 0 5px;
    font-weight: bold;
}
.content_right input{
    text-align: center;
    font-size: 14px;
    color: #999999;
    width: 100%;
    height: 40px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.content_right button{
    width: 100%;
    margin: 10px 0 15px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
    transition: all 0.5s;
    background: #ddd;
    color: #333;
}
.content_right button:hover{
    color: #fff;
    background: linear-gradient(to bottom right,#67cffd,#0d9ae1);

}

.pofixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 0;
    text-align: center;
    z-index: 9999;
    box-shadow: 0 0 20px #666;
}
.servie_btn{
    position: fixed;
    top: 50%;
    right: 0;
    width: 90px;
    box-shadow: 0 0 15px #ccc;
    z-index: 999;
    text-align: center; 
    margin-top: -240px;
}
.servie_btn a{
    margin: 10px 0; 
    background: -webkit-linear-gradient(to bottom, #70d6ff , #44baff);
    background: -o-linear-gradient(to bottom, #70d6ff , #44baff);
    background: -moz-linear-gradient(to bottom, #70d6ff , #44baff);
    background: linear-gradient(to bottom, #70d6ff , #44baff);
    text-align: center;
    border-radius: 3px;
    width: 60px;
    height: 60px;
    display: inline-block;
    position: relative;
}
.servie_btn a img{
    width: 40px;
    margin-top: 10px;
}
.phone_ab{
    position: absolute;
    top: 9px;
    left: -170px;
    display: none;
    background: url(../images/fixed-bar-hua1.png) no-repeat 0 0;
    width: 150px;
    height: 42px;
    background-size: 100% 100%;
    line-height: 42px;
    font-size: 14px;
    color: #666;
    font-weight: 600;
    transition: all 1s;
}
.phone_ab1{
    background: url(../images/er_03.png) no-repeat 0 0;
    width: 165px;
    height: 120px;
    top: -30px;
}
.servie_btn .phone_ab1 img{
    width: 100px;
    height: 100px;
}
.servie_btnsm:hover .phone_ab{
    display: block;
}
.servie_btn a p{
    color:#fff;
    font-size: 15px;
    text-align: center;
}
.servie_btn .servie_btnsm p{
    display: none;
    line-height: 60px;
} 
.servie_btn .servie_btnsm:hover .none_img{
    display: none;
}
.servie_btn .servie_btnsm:hover p{
    display: block;
}
.wx{
    width: 80px;
    border-radius: 3px;
    margin: 10px 0; 
    display: inline-block;

}
.wx h4{
    color: #333333;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}
.wx img{
    width: 100%;
}
.top{
    width: 80px;
    border-radius: 3px;
    margin: 10px 0; 
    display: inline-block; 
    text-align: center;
    font-size: 16px;
    padding-bottom: 5px;
    cursor: pointer;
    color: #fff;
    background: -webkit-linear-gradient(to bottom, #70d6ff , #44baff);
    background: -o-linear-gradient(to bottom, #70d6ff , #44baff);
    background: -moz-linear-gradient(to bottom, #70d6ff , #44baff);
    background: linear-gradient(to bottom, #70d6ff , #44baff);
}
#top img{
    margin-top: 15px; 
    width: 32px;
    display: inline-block;
}
.fotter{
    background: #313131;
    padding: 40px 0;
    position: relative;
    text-align: center;
}
.fotter .fot_a{
    margin: 0 auto;
    width: 80%;
    margin-bottom: 35px;
}
.fotter .fot_a a:hover{
    color: #fafafa;
}
.fotter .fot_a a{
    font-size: 14px;
    color: #b1b1b1;
    transition: all 0.5s;
}
.fotter p{
    color: #636363;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin: 0;
}
.fotter .fot_p{
    padding: 0 25%;
}
.fotter img{
    width: 200px;
    margin-top: 30px;
    display: inline-block;
}
.fotter .fot_a:hover{
    color: #fff;
}
.fotter2{
    background: #535353;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}