/*
    初始化 通用css，
 */

* {
    margin: 0;
    padding: 0;
}

a, a:hover {
    text-decoration: none;
    display: block;
}

body, html {
    font-family: STHeiti, Microsoft YaHei, Helvetica, Arial, sans-serif!important;
    font-size: 50px;
}

input, button {
    background: none;
    outline: none;
    border: 0px;
}

em, i {
    font-style: normal;
}

ul, ol, li {
    list-style: none;
}

img {
    border: none;
}

textarea {
    outline: none;
    resize: none;
}

.active_color {
    color: #3581c2;
}


/*fotter*/

.fotter {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 0.1rem;
    box-shadow: 0 -0.1rem 0.2rem rgba(0, 0, 0, 0.05);
    z-index: 10;
    background: #fff;
}

.fotter img {
    width: 0.44rem;
    height: 0.44rem;
}

.fotter_box {
    text-align: center;
    width: 25%;
    float: left;
    height: 100%;
}

.fotter_box a {
    display: block;
    width: 100%;
    color: #a3a3a3;
    font-size: 12px;
}

.fotter_box p {
    padding-top: 0.15rem;
    margin-bottom: 0;
}


/*fotter -end*/


/*水平垂直居中-弹性盒子模型*/

.flex_mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/*水平两端对齐-弹性盒子模型*/

.flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/*水平等间距-弹性盒子模型*/

.flex_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


/*省略号*/

.elli {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*超出省略号两行*/

.elli_2 {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


/*自动隐藏文字*/

.ellipsis-1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipsis {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.ellipsis-2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.empty {
    height: 0.96rem;
    padding-top: 0.1rem;
}


/*input placeholder*/

 ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #b4b4b4;
}

 :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #b4b4b4;
    opacity: 1;
}

 ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #b4b4b4;
    opacity: 1;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #b4b4b4;
}


/*
***************************分享***********************************
 */

.video_fenx_l {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 12;
    background-color: #fff;
    border-radius: 0.2rem 0.2rem 0 0;
    text-align: center;
}

.video_fenx_l span {
    font-size: .31rem;
    padding: .25rem 0;
    display: block;
    color: #464646;
}

.video_fenx_nr_l {
    width: 100%;
    margin: .25rem 0;
    float: left;
}

.fenx_qx_l {
    width: 80%;
    border-radius: 30px;
    border: solid 1px #e9e9e9;
    margin: .2rem 0;
    clear: both;
    margin-left: 10%;
}

.fenx_qx_l p {
    text-align: center;
    font-size: .31rem;
    padding: .23rem 0;
}

.cx-box {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    display: none;
    z-index: 11;
}

.fenx_kox_l p {
    font-size: .24rem;
    text-align: center;
    color: #2f2f2f;
}

.video_fenx_nr_l a {
    float: left;
    width: 50%;
}
/*head*/
.head_topbar {
    height: 1rem;
    border-bottom: 1px solid #3589d3;
    position: relative;
    background-color: #2778be;
    font-size: 0.3rem;
}

.head_left {
    float: left;
    width: 10%;
    padding-top: 0.3rem;
    margin-left: 0.2rem
    color: #FFFFFF;
}
.head_left img{
            width: 0.3rem;
          height: 0.3rem;
          margin-top: 0.1rem;
          margin-left: 0.2rem;
        }

.head_title {
    width: 80%;
    text-align: center;
    height: 0.9rem;
    line-height: 0.9rem;
    padding-top: 0.1rem;
    float: left;
    color: #fff;
}

.head_right {
    float: right;
    width: 10%;
    padding-top: 0.2rem;
    background-size: 100% 100%;
}

.pull_right {
    float: right;
}

.pull_left {
    float: left;
}