<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>团建抽奖</title>
	<link rel="stylesheet" href="css/publicSty.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/liMarquee.css">
</head>
<body>
	<div class="pc_bodyer" id="bodyer">
		<div class="logo">
			<img src="images/logo.png" alt="">
		</div>
		<div class="content">
			<div class="content_inner" :class='modalBool?"blur":""'>
				<div class="dowebok1 dowebok" >
					<div class="box" v-for='(item, index) in qusList1' v-text='item.title'></div>
				</div>
				<div class="dowebok2 dowebok" >
					<div class="box" v-for='(item, index) in qusList2' v-text='item.title'></div>
				</div>
				<div class="dowebok3 dowebok" >
					<div class="box" v-for='(item, index) in qusList3' v-text='item.title'></div>
				</div>
				<div class="dowebok4 dowebok" >
					<div class="box" v-for='(item, index) in qusList4' v-text='item.title'></div>
				</div>				
			</div>
			<div class="modal flex_mid" v-if='modalBool'>
				<div class="qus_box" v-text='randomTxt' v-if='randomTxt'>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script type="text/javascript" src="js/layer.js"></script>
<script type="text/javascript" src="js/api.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="js/jquery.liMarquee.js"></script>
<script type="text/javascript">
	new Vue({
	    el: '#bodyer',
	    data: {
	        nameIpt: '',
	        cardNum: '',
	        qusList1:[],
	        qusList2:[],
	        qusList3:[],
	        qusList4:[],
	        randomTxt:'',
	        firstNum:1,
	        modalBool:false,//模态层显示
	        qusArr:[],
	        closeBool:false
	    },
	    mounted() {
	    	this.forQuestion()
	    },
		created:function(){
			var _this = this;
			document.onkeydown=function(e){
				var key=window.event.keyCode;
				if(key==32){
					if(_this.closeBool == false){
						_this.stopScroll()
						_this.closeBool = true;			
					}else{
						_this.closeModal()	
						console.log(1)	
						_this.closeBool = false;			
					}
				}
			}
		},	    
	    updated(){
	    	if(this.firstNum == 1){
		        //无缝滚动
		        $('.dowebok1').liMarquee({
		            direction: 'right',
		            scrollamount:300,
		            hoverstop: false
		        });
		        $('.dowebok2').liMarquee({
		            direction: 'right',
		            scrollamount: 350,
		            hoverstop: false
		        });
		        $('.dowebok3').liMarquee({
		            direction: 'right',
		            scrollamount: 250,
		            hoverstop: false
		        });
		        $('.dowebok4').liMarquee({
		            direction: 'right',
		            scrollamount: 280,
		            hoverstop: false
		        });	
		        this.firstNum = 0
	    	}
    	
	    },
	    methods: {
	    	forQuestion(){
	    		Api.forQuestion().then(res=>{
	    			if(res.data.code == 1){
	    				let qusArr = res.data.data;
	    				this.qusArr = qusArr;
				    	let qusArrLen = qusArr.length;
				    	let qusList1 = [];
				    	let qusList2 = [];
				    	let qusList3 = [];
				    	let qusList4 = [];
				    	for(var i=0;i<12;i++ ){
							let num = this.randomFrom(0,qusArrLen);
							qusList1.push(qusArr[num])
				    	}
				    	for(var i=0;i<12;i++ ){
							let num = this.randomFrom(0,qusArrLen);
							qusList2.push(qusArr[num])
				    	}
				    	for(var i=0;i<12;i++ ){
							let num = this.randomFrom(0,qusArrLen);
							qusList3.push(qusArr[num])
				    	}
				    	for(var i=0;i<12;i++ ){
							let num = this.randomFrom(0,qusArrLen);
							qusList4.push(qusArr[num])
				    	}
				    	this.qusList1 = qusList1;
				    	this.qusList2 = qusList2;
				    	this.qusList3 = qusList3;
				    	this.qusList4 = qusList4;	  
	    			}
	    		})
	    	},
			randomFrom(low,up){
			 	return Math.floor(Math.random() * (up - low) + low);
			},
			stopScroll(){
				this.modalBool = true;
				let num = this.randomFrom(0,this.qusArr.length);
				this.randomTxt = this.qusArr[num]['title'];
				$('.dowebok1').liMarquee('pause');
				$('.dowebok2').liMarquee('pause');
				$('.dowebok3').liMarquee('pause');
				$('.dowebok4').liMarquee('pause');
			},
			closeModal(){
				this.modalBool = false;
				this.randomTxt = '';
		        $('.dowebok1').liMarquee('play');
		        $('.dowebok2').liMarquee('play');
		        $('.dowebok3').liMarquee('play');
		        $('.dowebok4').liMarquee('play');				
			}			
	    }
	})	
</script>

