/*首页*/
body{
	max-width: 700px;
	margin:0 auto; 
}
.logo{
	width: 100%;
	padding: 0.2rem 0;
	background: #fff;
}
.logo img{
	width: 50%;
}
.index_content{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fff;
	padding-bottom: 0.4rem;
}
.index_content h3{
	font-weight: normal;
	font-size: 0.46rem;
	padding-top: 1.5rem;
	padding-bottom: 3rem;
}
.index_content h2{
	font-size: 0.6rem;
}
.index_content span{
	font-size: 0.28rem;
	margin-top: 3rem;
}
.index_content .button_a{
	width: 3rem;
	line-height: 0.6rem;
	height: 0.6rem;
	text-align: center;
	border-radius: 2px;
	border: 1px solid #000;
	margin-top: 0.6rem;
	font-size: 0.28rem;
}
/*首页--end*/

.dire_content{
	padding: 0 0.2rem;
	padding-bottom: 0.6rem;
	background: #fff;
}
.dire_content h2{
	text-align: center;
	font-size: 0.4rem;
	padding-bottom: 0.5rem;
	padding-top: 1rem;
}
.dire_content h3{
	font-size: 0.30rem;
	padding-bottom: 0.2rem;
}
.dire_content p{
	font-size: 0.28rem;
	text-indent:2em;
	margin-bottom: 0.2rem;
}
.dire_content a{
	display: block;
}
/*内容页*/
.page_content{
	padding: 0 0.2rem;
	padding-top: 1rem;
	background: #fff;
}
.page_content .title{
	font-size: 0.4rem;
	padding-bottom: 0.5rem;

}
.page_content p{
	line-height: 0.6rem;
	font-size: 0.28rem;
	margin-bottom: 0.2rem;
}
.page_content p span{
	line-height: 0.6rem;
	font-size: 0.28rem;
	font-weight: bold;
}
.margin_bot{
	margin-bottom: 0.4rem;
	padding-left: 0.2rem;
}
.back_top{
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -3.75rem;
	z-index: 999;
	background: #fff;
	width: 7.5rem;
	background: #fff;
}
.back_or{
	position: relative;
	text-align: center;
	font-size: 0;
	line-height: 0.7rem;
	height: 0.7rem;
	padding: 0.1rem 0;
	font-size: 0;
	border-bottom: 1px solid #F2F2F2;
}
.back_or a{
	position: absolute;
	top: 0.25rem;
	left: 0.3rem;
	font-size: 0;
	display: inline-block;
	width: 0.25rem;
	height: 0.4rem;
}
.back_or a img{
	width: 0.25rem;
	height: 0.4rem;
}
.back_or span{
	font-size: 0.4rem;
	color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 75%;	
}
.page_content h3{
	font-size: 0.30rem;
	padding-bottom: 0.4rem;	
}
.indent1{
	text-indent: 1em;
}
.indent2{
	text-indent: 2em;
}
.page_content table{
	font-size: 0.28rem;
	border-collapse: collapse;
	width: 100%;
}
.page_content tr{
	
}
.page_content td,th{
	height: 0.6rem;
	text-align: center;
	line-height: 0.8rem;
	font-weight: normal;
	border: 1px solid #000;
}
.th_left{
	width: 30%;
}
@media (min-width:700px) {
	.back_top{
		width: 700px;
		margin-left: -350px;
	}
	body{
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		background: #000;
	}
	.empty{
		height: 113px;
	}
}	

/*内容页--end*/