/*phone*/
.bodyer{
	height: 100vh;
	background: url(../images/bg.png) 0 0 no-repeat;
	background-size:cover;
	overflow:hidden;  
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.bodyer .input{
	width: 5.4rem;
	padding: 0.15rem;
	line-height: 0.8rem;
	height: 0.8rem;
	border-radius: 33px;
	background: #fff;
	border:0.1rem solid #E72044;
	font-size: 0.4rem;
	color: #E72044;
	margin-bottom: 0.3rem;
	text-align: center;
	font-weight: bold;
}
.input::-webkit-input-placeholder {
    color: #E72044;
	font-size: 0.3rem;
	font-weight: normal;
}
#card{
	margin-bottom: 55px;
}
.next_btn{
	background: #A7A7A7;
	color: #fff;
	font-size: 0.3rem;
	line-height: 1.1rem;
	border-radius: 28px;
	height: 1.1rem;
	text-align: center;
	width: 6rem;
}
.ac_btn{
	background: #E72044;
	color: #fff;
}
.result_inner{
	width: 5.4rem;
	position: relative;
}
.result_inner img{
	width: 100%;
}
.result_inner .result_ab{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.result_item{
	width: 100%;
	height: 46%;
	margin-bottom: 6%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.result_item em{
	color: #888888;
	font-size: 0.3rem;
	margin-bottom: 0.1rem;
}
.result_item span{
	width: 95%;
	text-align: center;
}
.result_item span em{
	color: #000;
	font-weight: bold;
	font-size: 0.7rem;	
	display: inline-block;
	padding: 0 0.1rem;
}
.margin_none{
	margin-bottom:0; 
}
/*pc*/	
.pc_bodyer{
/*	width: 1024px;
	margin: 0 auto;*/
	position: relative;
	height: 100vh;
	overflow:hidden; 
}
.logo{
	padding: 10vh 0;
	width: 100%;
	text-align: right;
	font-size: 0;
}
.logo img{
	margin-right: 100px;
}
.content{
	/*height: 75vh;*/
	position: relative;
	width: 100%;
}
.content_inner{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.number_inner{
	height: 600px;
}
.blur{
	filter: blur(10px);

}
.content .modal{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}
.dowebok{
	margin-bottom: 30px;
}
.dowebok .box{
	display: inline-block;
	padding: 0 30px;
	background:#fff;
	border-radius:35px;
	border:5px solid #E72044;
	line-height: 59px;
	height: 59px;
	font-size: 25px;
	color: #E72044;
	margin: 0 50px;
}
.modal .qus_box{
	text-align: center;
	background: #fff;
	line-height: 108px;
	padding: 0 40px;
	color: #E72044;
	border-radius:69px;
	border:10px solid #E72044;
	font-size: 40px;
}
.ball{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E72044;
    font-weight: bold;
	 -webkit-touch-callout: none; /* iOS Safari */

	-webkit-user-select: none; /* Chrome/Safari/Opera */

	-khtml-user-select: none; /* Konqueror */

	-moz-user-select: none; /* Firefox */

	-ms-user-select: none; /* Internet Explorer/Edge */

	user-select: none; /* Non-prefixed version, currently

	not supported by any browser */   
}
.number_modal{
	display: none;
}
.number_box{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    background: #fff;
    width: 300px;
    height: 300px;
    color: #E72044;
    border-radius: 50%;
    border: 10px solid #E72044;
    font-size: 75px;
    font-weight: bold;
}

@font-face {
    font-family: 'test';
    src: url('../test.woff');
    font-weight: normal;
    font-style: normal;
}