/*首页*/
.idx_top{
	height: 0.64rem;
	line-height: 0.64rem;
	border-bottom: 1px solid #F2F2F2;
	margin-bottom: 0.32rem;
	padding: 0.2rem 0.32rem;
}
.idx_top h3{
	font-size: 0.4rem;
	line-height: 0.7rem;
	color: #000;
}
.idx_top a{
     display: inline-block;
     height: 0.64rem;
     width: 0.64rem;
     border-radius: 50%;
     font-size: 0;
}
.idx_top a img{
     display: inline-block;
     height: 0.64rem;
     width: 0.64rem;
     border-radius: 50%;
}
.banner{
	padding: 0 0.32rem;
}
.banner img{
	width: 100%;
}
#banner .swiper-pagination-bullet-active{
	background: #fff!important;
}
/*单位转化*/
.fun_box{
	padding: 0 0.32rem;
     padding-top: 0.52rem;
}
 .fun_boxbg{
     width: 100%;
     padding-bottom: 0.6rem;
}
 .fun_boxsm{
     width: 1.2rem;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
 .fun_boxsm img{
     height: 0.64rem;
     margin-bottom: 0.16rem;
}
 .fun_boxsm p{
     font-size: 0.28rem;
     color: #464D51;
}
.des{

}
.des h3{
	font-size: 0.4rem;
	line-height: 0.7rem;
	color: #000;
	border-bottom: 1px solid #F2F2F2;
	padding: 0.2rem 0.32rem;
}
.des_txt{
	padding: 0.32rem;
	color: #464D51;
	font-size: 14px;
	line-height: 0.4rem;
}
.des_imgbox{
	padding-top: 0.28rem;
	padding-left: 0.32rem;
	padding-right: 0.32rem;
	padding-bottom: 1.2rem;
	display: flex;
	justify-content: space-around;
}
.step_box{
	text-align: center;
	font-size: 0;
	width: 1.4rem;
}
.jt_img{
	margin: 0.26rem 0 0;
	width: 1.1rem;
	height: 0.2rem;
}
.step_box img{
	height: 0.8rem;
	width: 0.8rem;
	border-radius: 50%;
	margin-bottom: 0.2rem;
}
.step_box p{
	color: #464D51;
	font-size: 12px;
}
.tabber{
	border-top: 1px solid #F2F2F2;
	height: 1rem;
	width: 100%;
	z-index: 999;
	background: #fff;
	font-size: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	padding-top: 0.1rem;

}
.tabber_box{
	width: 100%;
}
.tabber .tab_box{
	display: inline-block;
	text-align: center;
}
.tab_box img{
	width: 0.56rem;
}
.tabber .tab_box p{
	color: #000;
	font-size: 12px;
	line-height: 0.36rem;
}
/*单位转化-end*/

/*首页-end*/
/*订单*/
.back_or{
	position: relative;
	text-align: center;
	font-size: 0;
	line-height: 0.7rem;
	height: 0.7rem;
	padding: 0.1rem 0;
	font-size: 0;
}
.back_or a{
	position: absolute;
	top: 0.25rem;
	left: 0.3rem;
	font-size: 0;
	display: inline-block;
	width: 0.25rem;
	height: 0.4rem;
}
.back_or a img{
	width: 0.25rem;
	height: 0.4rem;
}
.back_or h5{
	font-size: 0.4rem;
	color: #000;
}
.news_gd{
	height: 1rem;
	line-height: 1rem;
	font-size: 0;
	padding-left: 0.9rem;
	background: #FFF2D8;
	position: relative;
}
.news_gdimg{
	display: flex;
	align-items: center;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 0.9rem;
	justify-content: center;
}
.news_gdimg img{
	width: 0.34rem;
}
.news_ul{
	font-size: 14px;
}
.news_ul li span{
	color: #464D51;
	display: inline-block;
}
#top{
	overflow: hidden;
	height: 100%;
}
.show_price{
	padding: 0.6rem 0.3rem;
	height: 1rem;
}
.show_pril{
	font-size: 0.36rem;
	display: flex;
	align-items: center;
}
.show_pril img{
	width: 0.9rem;
	margin-right: 0.3rem;
}
.show_prir{
	color: #D22117;
	font-size: 0.4rem;
}
.contact{
	height: 0.64rem;
	padding: 0 0.3rem;
	padding-bottom: 0.6rem;

}
.conta_le{
	color: #464D51;
	font-size: 12px;
	line-height: 16px;
}
.conta_ri{
	display: flex;
	align-items: center;
	font-size: 0;
}
.conta_ri input{
	width: 3.5rem;
	color: #00BCC4;
	font-size: 0.36rem;
	height: 25px;
	margin-right: 0.2rem;
	text-align: right;
}
.conta_ri img{
	width: 0.15rem;	
}
.choose_or{
	padding: 0 0.3rem;
	padding-bottom: 0.6rem;
}
.choose_title{
	color: #464D51;
	font-size: 12px;
	margin-bottom: 0.15rem;
}
.choose_boxc{
	width:31%;
	padding: 0.5rem 0;
	text-align: center;
	font-size: 16px;
	color: #00BCC4;
	border: 1px solid #00BCC4;
	box-sizing: border-box;
	position: relative;
}
.red_icon{
	width: 0.7rem;
	height: 0.4rem;
	line-height: 0.4rem;
	background: #D22117;
	color: #fff;
	font-size: 12px;
	position: absolute;
	right: -0.12rem;
	top: -0.12rem;
	padding-bottom: 0.02rem;
	text-align: center;
	transform: scale(0.9);
}
.red_icon span{
}
.ac_choose{
	background: #00BCC4;
	color: #fff;
}
.reduction{
	padding: 0 0.3rem;
	padding-bottom: 0.6rem;
}
.redu_title{
	color: #464D51;
	font-size: 12px;
	margin-bottom: 0.15rem;	
}
.reduction_des{
	padding: 0.6rem 0.2rem 0.6rem 0.3rem;
	background: #FAF7F4;
	box-sizing: border-box;
	border: 1px solid #F5EFEC;
	font-size: 16px;
	color: #464D51;
	position: relative;
}
.reduction_des img{
	width: 0.36rem;
}
.reduction_des span{
	color: #000;
	line-height: 0.46rem;
}
.top_icon{
	position: absolute;
	top: 0.18rem;
	left: 0.2rem;
}
.bot_icon{
	position: absolute;
	bottom: 0.18rem;
	right: 0.2rem;
}
.del{
	padding-top: 0.2rem;
}
.title_h4{
	line-height: 0.6rem;
	height: 0.6rem;
	color: 000;
	font-size: 0.32rem;
}
.del p{
	font-size: 14px;
	color: #464D51;
	padding-bottom: 0.4rem;
}
.des_imgbox_order{
	padding-left:0; 
	padding-right:0; 
	padding-bottom: 0;
}
.des_imgbox_order .jt_img{
	margin: 0.26rem 0 0;
}
.pay_box{
	width: 100%;
	height: 1rem;
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 1px solid #E6E6E6;
	box-sizing: border-box;
	font-size: 0;
	background: #fff;
	z-index: 500;
}
.pay_boxleft{
	line-height: 1rem;
	height: 1rem;
	width: 55%;
	color: #000;
	font-size: 13px;
	text-align: right;
	padding-right: 5%;
	display: inline-block;
}
.pay_boxleft span{
	color: #D22117;
	font-size: 0.4rem;
	padding-left: 0.1rem;
	display: inline-block;
}
.pay_boxright{
	line-height: 1rem;
	height: 1rem;
	display: inline-block;
	width: 40%;
	color: #fff;
	font-size: 0.34rem;
	background: linear-gradient(to bottom right, #00BCC4 , #00D3AA);
	text-align: center;
}
.pay_choose{
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.7);
	position: fixed;
	bottom: 0;
	transform: translateY(999px);
	transition: 0.8s;
	z-index: 999;
	left: 0;
}
.ac_paychoose{
	transform: translateY(0);
}
.pay_inner{
	height: 100%;
	width: 100%;
	position: relative;
}
.pay_choosebox{
	position: absolute;
	bottom: 0;
	left: 0;
	background: #fff;
	padding: 0.4rem 0 1rem;
	width: 100%;
	z-index: 9999;
}
.pay_choosetit{
	font-size: 0.4rem;
	color: #000;	
	text-align: center;
	width: 100%;
	padding-bottom: 1rem;
	position: relative;
}
#close{
	position: absolute;
	right: 0.4rem;
	top: 0.15rem;
	width: 0.28rem;
	height: 0.28rem;
}
.pay_icon{
	width: 1.3rem;
	text-align: center;
	font-size: 0;
}
.pay_icon img{
	border-radius: 50%;
	height: 1.2rem;
	width: 1.2rem;
	margin-bottom: 0.2rem;
	display: inline-block;
}
.pay_icon p{
	font-size: 0.28rem;
	color: #464D51;
}

/*订单-end*/
/*支付成功*/
.pay_status{
	padding-top: 1rem;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.pay_status img{
	width: 1.6rem;
	margin-bottom: 0.4rem;
}
.pay_status span{
	color: #00BCC4;
	font-size: 0.4rem;
	margin-bottom: 0.2rem;
}
.pay_status p{
	color: #000;
	font-size: 0.32rem;
}
.back_orsu{
	border-bottom: 1px solid #F2F2F2;
}
/*支付成功-end*/
/*订单详情*/
.list_box{
	padding:0.6rem 0.3rem;
	border-bottom: 1px solid #F2F2F2;
}
.list_tit{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.3rem;
	height:0.64rem;
}
.list_title{
	height:0.64rem;
	display: flex;
	align-items: center;
}
.list_title img{
	height: 0.6rem;
	margin-right: 0.3rem;
	display: inline-block;
}
.list_title span{
	color: #000;
	font-size: 0.32rem;
	display: inline-block;
	line-height: 0.64rem;
}
.list_titri{
	color: #D22117;
	font-size: 0.32rem;
}
.lise_desl{
	width: 75%;
}
.lise_desl p{
	color: #000;
	font-size: 0.28rem;
	line-height: 0.4rem;
	padding-bottom: 0.1rem;
}
.lise_desr{
	color: #00C9B5;
	font-size: 0.32rem;
}
.none_list{
	width: 100%;
	display: none;
	text-align: center;
}
.none_list h3{
	color: #D1D3DA;
	font-size: 0.72rem;
	padding-bottom: 0.2rem;
	width: 100%;
	text-align: center;
}
.none_list p{
	color: #D1D3DA;
	font-size: 0.32rem;
}
.idx_top1{
	margin: 0;
}
.none_box{
	text-align: center;
	padding-top: 3.5rem;
	display: inline-block;
	width: 100%;
}
.now_login{
	display: inline-block;
	width: 3.6rem;
	height: 0.84rem;
	line-height: 0.84rem;
	text-align: center;
	background: linear-gradient(to bottom right, #00BCC4 , #00D3AA);
	font-size: 0.36rem;
	color: #fff;
	margin-bottom: 0.4rem;
	border-radius: 2px;
}
/*订单详情-end*/
/*帮助*/
.help_1{
	padding: 0 0.3rem;
	padding-bottom: 0.6rem;
	border-bottom: 1px solid #F2F2F2;
}
.ts_box{
	padding-top: 0.3rem;
	color: #464D51;
	font-size: 12px;
	display: flex;
	align-items: center;
}
.ts_box img{
	width: 0.32rem;
	margin-right: 0.2rem;
}
.phone{
	padding: 0 0.3rem;
}
.phone_box{
	padding-top: 0.6rem;
	font-size: 0.32rem;
	color: #000;
}
.phone_ri{
	display: flex;
	align-items: center;
}
.phone_ri a{
	color: #00BCC4;
	font-size: 0.32rem;
	display: inline-block;
}
.phone_ri img{
	width: 0.2rem;
	margin-left: 0.2rem;
}
/*帮助-end*/
/*登录*/

.back{
	text-align: left;
	line-height: 0.7rem;
	height: 0.7rem;
	font-size: 0;
	margin-bottom: 0.3rem;
	padding: 0.3rem;
}
.back a{
	display: inline-block;
	height: 100%;
}
.back a img{
	width: 0.25rem;
	height: 0.4rem;
	margin-top: 0.1rem;
}
.show_txt{
	text-align: left;
	line-height: 0.4rem;
	height: 0.4rem;
	color: #000;
	font-size: 0.35rem;
	padding:  0 0.3rem;
}
.form_box{
	padding:  0 0.3rem;
	font-size: 0;
}
.num_btn{
	border-bottom: 1px solid #F2F2F2;
	color: #000;
	font-size: 0.35rem;
	padding: 0.6rem 0 0.2rem;
	margin-bottom: 0.4rem;
	width: 100%;
}
.get_code{
	width: 100%;
	line-height: 0.84rem;
	height: 0.84rem;
	text-align: center;
	border-radius: 2px;
	color: #fff;
	font-size: 0.32rem;
	background: linear-gradient(to bottom right, #00BCC4 , #00D3AA);
}
 .num_btn::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #D1D3DA;
}

 .num_btn:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #D1D3DA;
    opacity: 1;
}

 .num_btn::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #D1D3DA;
    opacity: 1;
}

 .num_btn:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #D1D3DA;
}
.djs{
	padding-top: 0.4rem;
	text-align: center;
	width: 100%;
	font-size: 0.28rem;
	color: #464D51;
	display: none;
}

.back_ac{
    color: #00BCC4;
}
/*登录*/
.swiper-pagination-bullet{
	opacity: 0.5!important;
}
.sign_out{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none;
}
.sign_inner{
	background: #fff;
	width: 70%;
	font-size: 0;
	animation: mymove 0.5s;
}
.sign_top{
	padding: 0.6rem 0;
	text-align: center;
	border-bottom: 1px solid #F2F2F2;
	box-sizing: border-box;
	width: 100%;
	color: #000;
}
.sign_top h4{
	padding-bottom: 0.2rem;
	color: #000;
	text-align: center;
	font-size: 0.4rem;
}
.sign_top p{
	font-size: 0.28rem;
	color: #000;
}
.sign_bot{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	font-size: 0;
}
.sign_cancel{
	width: 50%;
	height: 100%;
	color: #00BCC4;
	font-size: 0.36rem;
	text-align: center;
	box-sizing: border-box;
	border-right: 1px solid #F2F2F2;
	display: inline-block;
}
.sign_ok{
	width: 50%;
	height: 100%;
	color: #00BCC4;
	font-size: 0.36rem;
	text-align: center;	
	display: inline-block;
}
@keyframes mymove{
	0%{
		transform: scale(0.2);
	}
	100%{
		transform: scale(1);
	}
}
@-webkit-keyframes mymove{
	0%{
		transform: scale(0.2);
	}
	100%{
		transform: scale(1);
	}
}
