/*
    初始化 通用css，
 */

* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    display: block;
}
 a:hover{
    text-decoration: none;
 }
a:focus{text-decoration: none}
body, html {
    /*font-family: STHeiti, Microsoft YaHei, Helvetica, Arial, sans-serif!important;*/
}

input, button {
    background: none;
    outline: none;
    border: 0px;
}

em, i {
    font-style: normal;
}

ul, ol, li {
    list-style: none;
}
/*strong{
    font-family: 'sansb1';
}*/
img {
    border: none;
}

textarea {
    outline: none;
    resize: none;
}

.active_color {
    color: #3581c2;
}


/*fotter*/

.fotter{
    padding: 50px 0 60px 0;
    background: #313131;
    color: #c9c9c9;
}
.fotter .logo_fot{
    width: 25%;
    float: left;
}
.fotter .fot_list{
    width: 75%;
    display: flex;
    justify-content: space-around;
}
.fotter .fot_list li{
    padding: 10px 0;
}
.fotter .fot_list a{
    color: #c9c9c9;
    display: initial;
}
.fotter .fot_list li a:hover{
     color: #00ffff;
    transition: all 1s ease;
}
.fotter .fot_list .phone:hover{
    color: #00ffff;
    transition: all 1s ease;
}
.fotter .fot_list .fot_tit{
    color: #fff;
}
.fotter .fot_icon a{
    float: left;
    width: 20px;
    margin: 0 5px;
    height: 20px;
}
.fot_icon a{
    position: relative;
}
.fotter .fot_icon a img{
    width: 20px;
    height: 20px;
}
.fot_icon a .op_img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.fot_icon a .ac_op{
    opacity: 1;
    transition: 1s all ease;
}
.bdshare-button-style2-24 a, .bdshare-button-style2-24 .bds_more{
    padding-left: 0 !important;
}
/*fotter -end*/


/*水平垂直居中-弹性盒子模型*/

.flex_mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*垂直居中-弹性盒子模型*/

.flex_mid1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*水平两端对齐-弹性盒子模型*/

.flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/*水平等间距-弹性盒子模型*/

.flex_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


/*省略号*/

.elli {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*超出省略号两行*/

.elli_2 {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


/*自动隐藏文字*/

.ellipsis-1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipsis {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.ellipsis-2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.empty {
    height: 0.96rem;
    padding-top: 0.1rem;
}


/*input placeholder*/

/*  ::-webkit-input-placeholder {
    WebKit browsers 
   color: #b4b4b4;
}
*/
/*  :-moz-placeholder {
   Mozilla Firefox 4 to 18
   color: #b4b4b4;
   opacity: 1;
}

::-moz-placeholder {
   Mozilla Firefox 19+
   color: #b4b4b4;
   opacity: 1;
}

:-ms-input-placeholder {
   Internet Explorer 10+
   color: #b4b4b4;
} */
/*清除浮动*/
.clear{
    clear: both;
}
@font-face {
    font-family: 'sans';
    src: url('../fonts/lato-light-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansb';
    src: url('../fonts/lato-black-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansb1';
    src: url('../fonts/lato-bold-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'money_p';
    src: url('../fonts/lato-semibold-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}
.empty{
    height: 50px;
    width: 100%;
}
.empty1{
    height: 50px;
    width: 100%;
}