<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>团建抽奖</title>
	<meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script type="text/javascript" src="js/font.js"></script>
	<link rel="stylesheet" href="css/publicSty.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="bodyer" id="bodyer">
		<input type="text" id="name" v-model='username' class="input" placeholder="姓名" maxlength="8">
		<input type="tel" id="card" v-model='cardcode' class="input" placeholder="请输入身份证后6位" maxlength="6">
		<div class="next_btn" @click='signUp' :class='addAc?"ac_btn":""'>下一步</div>
	</div>
</body>
</html>
<script type="text/javascript" src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script type="text/javascript" src="js/layer.js"></script>
<script type="text/javascript" src="js/api.js"></script>
<script type="text/javascript">
	new Vue({
	    el: '#bodyer',
	    data: {
	        username: '',
	        cardcode: ''
	    },
	    computed: {
	        addAc: function() {
	            let addAc;
	            if (this.username && this.cardcode) {
	                return true;
	            } else {
	                return false;
	            }
	        }
	    },
	    mounted() {
	    	
	    },
	    methods: {
	        signUp() {
	            let username = this.username;
	            let cardcode = this.cardcode;
	            if (!username) {
	                layer.open({
	                    content: '请输入姓名',
	                    skin: 'msg',
	                    time: 1
	                });
	            }else if (!cardcode) {
	                layer.open({
	                    content: '请输入身份证后6位',
	                    skin: 'msg',
	                    time: 1
	                });
	            }else{
	            	Api.signUp(username,cardcode).then(res=>{          		
	            		if(res.data.code == 1){
	            			localStorage.clickNum = '';
			                layer.open({
			                    content: '报名成功',
			                    skin: 'msg',
			                    time: 1
			                });	          
			                let mycode = res.data.data.mycode;
			                let other_info = res.data.data.other_info;
			                other_info = other_info? JSON.stringify(other_info):other_info;
			                localStorage.mycode = mycode;
			                localStorage.other_info = other_info;
			                setTimeout(()=>{
	            				window.location = 'result.html'
			                },1000)
	            		}else if(res.data.code == 0){
			                let clickNum = localStorage.clickNum?parseInt(localStorage.clickNum):0;
				                clickNum++;
				                localStorage.clickNum = clickNum;			                
			                	console.log(clickNum)
			                if(clickNum<3){
				                layer.open({
				                    content: '报名失败 , 请重新输入姓名或身份编码！',
				                    skin: 'msg',
				                    time: 2
				                });	
			                }else{
				                layer.open({
				                    content: ' o(╥﹏╥)o , 找管理员帮帮忙吧！',
				                    skin: 'msg',
				                    time: 2
				                });				                	
			                }
	  
	            		}
	            	})
	            }
	        },
	    }
	})	

</script>

