/*新闻列表*/
.news_list{
	width: 100%;
	padding: 80px 0 130px;
}
.news_list .change_news{
	width: 100%;
}
.change_news a{
	font-size: 14px;
	color: #1b1b1b;
	display: inline-block;
	padding: 8px 15px;
	border-bottom:5px solid transparent; 
	transition: all 0.5s;
	margin-right: 20px;
}
.news_list .ac_news{
	border-bottom:5px solid #fed400; 
	color: #434343;
}
.newsboxp{
	width: 100%;
	margin-top: 75px;
	margin-bottom: 70px;
	position: relative;
	padding: 0 30px;
}
.newsboxa{
	float: left;
	display: block;
}
.newsboxp img{
	width: 100%;
}
.newsboxc{
	width: 45%;
	float: left;
	margin: 0 15px;
	position: relative;
	display: block;
	margin-bottom: 160px;
}
.newsboxc_ab{
	position: absolute;
	bottom: -52%;
	padding: 20px 35px;
	background: #f7f6f6;
	width:90%;
	left: 5%;
	transition: all 0.8s;
}
.newsboxc_ab h4{
	text-transform: uppercase;
	color: #1b1b1b;
	font-size: 18px;
	padding-bottom: 10px;
	font-family: 'robo_me';
}
.newsboxc_ab p{
	font-size: 14px;
	color: #1b1b1b;
	line-height: 30px;
}
.newsboxc_ab a{
	text-transform: uppercase;
	font-size: 14px;
	color: #1b1b1b;
	padding-top: 15px;
	font-family: 'robo';
}
.newsboxc_ab a i{
	color: #1b1b1b;
	font-size: 14px;
	padding-left: 5px;
}
.page{
	width: 100%;
	text-align: center;
}
.page .page_btn{
	padding: 5px 15px 3px;	
	text-align: center;
	background: #f7f6f6;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'robo';
	display: inline-block;
	color: #1b1b1b;
	transition: all 0.5s;
}
.page .fa-caret-left{
	padding-right: 10px;
}
.page .fa-caret-right{
	padding-left: 10px;
}
.page span{
	color: #1b1b1b;
	font-family: 'robo';
	font-size: 18px;
	padding: 0 15px;
}
.page span em{
	font-size: 14px;
}
/*新闻详情页*/
.news_details{
	padding: 70px 0 110px;
	text-align: center;
}
.news_details h3{
	color: #1b1b1b;
	font-size: 24px;
	text-align: center;
	line-height: 55px;
}
.news_details p{
	font-size: 16px;
	color: #1b1b1b;
	line-height: 35px;
	margin-bottom: 25px;
	text-align: left;
}
.news_details .time{
	font-size: 14px;
	color: #1b1b1b;
	text-align: center;
	font-family: 'robo';
	margin-bottom: 30px;
}
.news_details img{
	margin: 38px 0 55px;
}
.other_page{
	width: 100%;
}
.other_page a{
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	color: #1b1b1b;
	font-size: 14px;
	text-align: left;
}
/*新闻详情页-end*/
/*产品列表*/
.pro_center{
	padding: 60px 0 150px;
}
.pro_details_left{
	padding-left: 0;
}
.choose_pro{
	width: 100%;
}
.choose_pro .none{
	display: none;
}
.choose_pro h4{
	color: #535353;
	font-size: 16px;
	line-height: 35px;
	display: flex;
	align-items: center;
    font-family: 'dinpro';
}
.choose_pro i{
	padding-left: 15px;
	font-size: 12px;
	color: #535353;
}
.choose_pro_sm{
	padding: 15px 0 25px;
	padding-left: 10px;
	display: none;
}
.choose_pro_sm a{
	color: #535353;
	font-size: 13px;
	padding: 5px 60px 5px 0; 
	display: inline-block;
	transition: all 0.5s;
	border-bottom:1px solid transparent;
}
.choose_pro_sm .pro_smac{
	border-bottom:1px solid #535353 ;
}
.pro_imgbox img{
	width: 100%;
}
.pro_box_p{
	margin-top: 20px;
	transition: all 0.5s;
}
.pro_ff{
	margin-bottom: 90px;
}
.pro_box{
	transition: all 0.5s;
}
.pro_box h4{
	color: #1b1b1b;
    font-family: 'dinpro_re';
	font-size: 14px;
	padding: 10px 25px;
}	
.pro_box h3{
	color: #1b1b1b;
	font-size: 18px;
    font-family: 'dinpro_re';
	line-height: 25px;
	padding: 5px 25px;
	transition: all 0.5s;
}
.pro_box h3 span{
	font-size: 14px;
	float: right;
	display: inline-block;
	line-height: 25px;
}
.pro_box p{
	padding: 10px 25px 25px;
	display: inline-block;
	color: #1b1b1b;
	font-size: 16px;
	font-weight: bold;
}
/*产品列表-end*/
/*产品详情*/
.pro_show{
	padding-right: 10%;
}
.pro_showimg{
	width: 100%;
}
.pro_showimg img{
	width: 100%;
	display: none;
}
.choose_pro{
	width: 100%;
}
.choose_pro .choose_probox{
	float: left;
	width: 32.333%;
	background: #f5f5f5;
	margin: 0 0.5%;
}
.pro_details{
	padding: 130px 0;
}
.parameter h4{
	padding-top: 50px;
	color: #1b1b1b;
	font-size: 16px;
	padding-bottom: 5px;
    font-family: 'robo_bold';
}
.parameter h2{
	padding-bottom: 20px;
    font-family: 'robo_bold';
	color: #1b1b1b;
	font-size: 48px;
}
.parameter .par_span{
	font-size: 16px;
	color: #1b1b1b;
	padding-right: 20px;
	border-right: 4px solid #000;
	font-family: 'robo';
	text-transform: uppercase;
}
.tabel_parc{
	margin-top: 20px;
	border-bottom:1px dashed #e6e6e6; 
	height: 35px;
	line-height: 35px;
	color: #1b1b1b;
	font-size: 14px;
}
.tabel_parc span{
	float: right;
	height: 35px;
	line-height: 35px;
	color: #1b1b1b;
	font-size: 14px;
}
.buy_btn{
	padding: 10px 0;
	font-size: 0;
	margin-top: 50px;
	background: #1b1b1b;
	margin-bottom: 30px;
}
.buyl{
	width: 50%;
	color: #fed400;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
	background: #1b1b1b;
	box-sizing: border-box;
	border-right: 1px solid #313131;
	text-align: center;
	font-family: 'robo';
	float: left;
}
.buyr{
	float: left;
	display: inline-block;
	width: 50%;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 16px;
	height: 50px;
	background: #1b1b1b;
}
.share_pro{
	font-size: 14px;
	color: #000;
}
.share_txt{
	float: left;
	line-height: 40px;
}
.share_pro .bdsharebuttonbox{
	margin-left: 10px;
	float: left;
}
.share_pro .share_box{
	width: 30px;
	height: 30px;
	background: #000;
	margin-top: 5px;
}
.share_pro .share_box a{
	font-size: 18px!important;
	color: #fff!important;
}
.pro_showtop{
	padding-bottom: 50px;
	border-bottom: 1px solid #eee;
}
.pro_desp{
	text-align: center;
}
.desh3_p{
	padding: 20px 0;
}
.pro_desp .pro_desh3{
	padding-right: 8px;
	border-right: 4px solid #000;
	margin-bottom: 20px;
	font-size: 16px;
}
.pro_desp p{
	line-height: 35px;
	font-size: 14px;
	color: #1b1b1b;
	text-align: left;
}
.pro_desp img{
	margin: 50px 0 30px;
}
/*产品详情-end*/
/*查询详情*/
.inquire_details{
	padding: 85px 0 120px;
	text-align: center;
}
.inquire_details img{
	margin-bottom: 30px;
}
.inq_box{
	padding: 15px 0;
	border-bottom: 1px dashed #e8e8e8;
}
.inq_box h4{
	color: #1b1b1b;
	margin-bottom: 20px;
	font-size: 18px;
	text-align: left;
}
.inq_box p{
	line-height: 40px;
	color: #1b1b1b;
	font-size: 14px;
	text-align: left;
}
.inq_p{
	line-height: 40px;
	color: #1b1b1b;
	font-size: 14px;
	text-align: left;	
}
/*查询详情-end*/
/*售后详情*/
.ser_details{
	padding: 65px 0;
}
.ser_details h3{
	color: #1b1b1b;
	font-size: 18px;
	line-height: 30px;
	padding-bottom: 20px;
}
.ser_details h3 span{
	font-size: 14px;
	color: #1b1b1b;
	padding-left: 10px;
	line-height: 30px;
    font-family: 'robo';
}
.ser_imgbox{
	padding-bottom: 30px;
	border-bottom: 1px dashed #e9e9e9;
}
.ser_imgbox img{
	width: 100%;
	margin-bottom: 20px;
}
.ser_imgbox p{
	color: #1b1b1b;
	font-size: 14px;
	line-height: 35px;
}
.ser_imgbox2{
	padding: 45px 0;
}
.ser_imgbox2 img{
	width: 100%;
	margin-bottom: 20px;
}
.ser_imgbox2 p{
	color: #1b1b1b;
	font-size: 14px;
	line-height: 35px;
}

/*售后详情-end*/
@media (min-width: 768px){
	/*新闻列表*/
	.change_news a:hover{
		color: #434343;
		border-bottom:5px solid #fed400; 
	}
	.newsboxc:hover .newsboxc_ab{
		background: #fed400;
	}
	.page_btn:hover{
		background: #fed400;
	}
	/*产品列表*/
	.choose_pro_sm a:hover{
		border-bottom: 1px solid #535353;
	}
	.pro_box:hover h3{
		background: #fed400;
	}
	.pro_box_p:hover{
		box-shadow: 0 0 15px #ccc;
	}
	/*产品详情*/
	.buyr:hover{
		color: #fff;
	}
	.share_pro .share_box:hover{
		background: #fed400;
	}
	.share_pro .share_box:hover a{
		color: #fff;
	}
}
