.nav1{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #1b1b1b;
}
.nav1_inner{
    width: 90%;
    margin: 0 auto;
    font-family: 'robo';
    font-size: 14px;
    color: #c9c9c9;
}
.nav1_innerl{
    float: left;
}
.nav1_innerl a{
    height: 40px;
    line-height: 40px;
    color: #c9c9c9;
    font-size: 14px;
    display: inline-block;
    padding-right: 40px;
}
.nav1_innerl .down{
     float: right;
}
.down img{
    height: 11px;
    width: 11px;    
    margin-right: 10px;
}
.down i{
    color: #c9c9c9;
    font-size: 16px;
}
.shop_img{
    width: 13px;
    height: 13px;
    margin-right: 10px;
}
.nav1_innerr{
    float: right;
}
.nav1_innerr a{
    margin: 0 15px;
}
.bdsharebuttonbox{
    height: 40px;
    line-height: 40px;
}
.bdsharebuttonbox a{
    font-size: 20px;
    display: inline-block;
    color: #c9c9c9;
    transition: all 0.8s;
}
.bdsharebuttonbox a img{
    width: 50px;
}
.banner{
    width: 100%;
    position: relative;
}
.banner_img{
    width: 100%;
}
.nav2{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    width: 100%;
}
.nav2_inner{
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 85px;
    line-height: 90px;
    text-align: center;
}
.logos{
    position: absolute;
    width: 94px;
    top: 23px;
    left: 0;
}
.header-menu{
    text-align: center;
}
.nav2_inner li{
    display: inline-block;
}
.nav2_inner a{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 85px;
    height: 85px;
    display: inline-block;
    text-align: center;
    padding: 0 36px;
    transition: all 0.8s;
    font-family: 'robo';
}
.nav2_inner a i{
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding-left: 15px;
    transition: all 0.8s;
}
/*fotter*/


/*fotter -end*/


@media (min-width:767px){
	.navbar-nav > li > a:hover{
		color: #238552!important;
		border-bottom: 1px solid #238552;
	}	
	.language a:hover{
		color: #277cc9;
	}
	.fotter .fot_list li a:hover{
     	color: #23ac6a;
	}
	.fotter .fot_list .phone:hover{
	    color: #23ac6a;
	    transition: all 0.8s ease;
	}
    .navbar-nav li:hover .top_a{
        color: #238552!important;
        border-bottom: 1px solid #238552;
        border-radius: 0;
    }
    .center_right ol li:hover i{
        color: #2d52e3;
    }
    .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
        text-decoration: none;
        border: 1px solid transparent !important;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
        background: #0033ff!important;
    }
    #header-menu li:hover .son-menu{
        display: block;
    }
    .son-menu li a:hover{
      background: #e5e5e5!important;
      color: #4cbd76!important;
    }
    .bdsharebuttonbox a:hover{
        color: #434343;
    }
    .nav2_inner a:hover{
        color: #000;
        background: #fed400;
    }
    .nav2_inner a:hover i{
        color: #000;
    }
}
/*手机端适配*/
@media (max-width:767px) {
    .top_active a{
        background: #fff!important;
    }
    .top_logoimg{
        display: inline-block;
    }
	 #header{
        position: fixed!important;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        border: none;
        line-height: 50px;
    }
    .top_f .logo_img{
    	line-height: 50px;
    }
    .top_f .container{
    	width: 90%;
    }
    .top_f .logo_img img{
    	width: 100px;
    }
    .top_f{
    	height: 50px;
    }
    .language{
    	height: 50px;
    	line-height: 50px;
    }

    #header .nav_active{
        border:none!important; 
    }
    .search{
    	display: none;
    }
    #header{
    	background: #fff!important;
    }
    #header .container-fluid{
    	background: #fff;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    	border-color: transparent;
    }
    .navbar-nav > li{
    	width: 100%;
        border-bottom:1px solid #1c9342; 
    }
    #header .nav_active{
    	color: #1c9342!important;
    }
    .navbar-nav > li > a{
    	color: #1c9342!important;
    	font-size: 13px;
    	line-height: 30px;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    	background: #238552!important;
    }
    #header .navbar-nav{
    	height: auto;
    	line-height: initial;
    	margin: 0;
    }
    .fotter {
        padding-top: 20px;
        font-size: 12px;
    }
    .fotter .fot_list li {
        padding: 5px 0;
    }
    .fotter .logo_fot {
        width: 100%;
        padding-bottom: 10px;
    }
    .fotter .logo_fot img {
        width: 50%;
        margin: 0 auto;
    }
    .fotter .fot_list {
        width: 100%;
        display: block;
        text-align: center;
    }
    .fotter .fot_list .fot1 {
        display: none;
    }
    .fotter .fot_list .fot2 {
        display: none;
    }
    .fotter .fot_list .fot3 {
        width: 100%;
    }
    .fot3 .fot_icon {
        display: flex;
        justify-content: center;
    }
    .logo_fot{
        display: none;
    }
    .fotter .fot_list .fot_tit{
        font-size: 16px;
    }
    .fot_end{
    	margin-top: 20px;
    }
    .navbar-inverse .navbar-toggle {
        border: none;
        background: #1c9342;
    }
    .navbar {
        margin: 0 !important;
    }
    .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 0;
        text-align: center;
        line-height: 30px;
    }
    .top_f{
        display: none;
    }
    .language_li{
        display: inline-block;
    }
    .navbar-header img{
        width: 100px;
    }
    .language_li{
        width: 100%;
        text-align: center;
        display: inline-block!important;
    }
    .language_li a{
        display: inline-block!important;
        width: 40%;
    }
    .empty{
        display: block!important;
    }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
        background: #fff!important;
        border: none!important;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
        color: #2d931c!important;
    }
}
@media screen and (min-width:1000px) and (max-width:1600px) {
	.language{
		right: 5%;
	}
	.search input{
		width: 390px;
	}
}
@media screen and (min-width:1000px) and (max-width:1200px) {
	.navbar-nav > li{
		padding: 0 30px;
	}
    .navbar-nav>li>.dropdown-menu li a{
        padding: 15px 80px;
    }
}
@media screen and (min-width:800px) and (max-width:1000px) {
	.navbar-nav > li{
		padding: 0 15px;
	}
	.top_f .container{
		width: 90%;
	}
	.search input{
		width: 380px;
	}
	.search{
		margin-right: 15%;
	}
	.top_f .logo_img img{
		width: 150px;
	}
	.language{
		right: 3%;
	}
    .navbar-nav>li>.dropdown-menu li a{
        padding: 15px 53px;
    }
}