	.bodyer{
	width: 1200px;
	margin:0 auto; 
	background: black;
	text-align: center;
	}
	.nav{
		height: 68px;
		line-height: 68px;
		background: #171313;
	}
	.nav a{
		color: #fff;
		text-align: center;
		line-height: 68px;
		text-decoration: none;
		padding-left: 50px;
		padding-right: 50px;
	}
	.nav a:hover{
		color: red;
	}
	.input1{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.input1 input{
		width: 200px;
		height: 32px;
	}
	.input1 button{
		height: 35px;
	}
	.imgbox{
		height: 500px;
		margin-top: 50px;
	}

	.imgbox p{
		color: #fff;
	}

	.imgbox h3{
		color: #fff;
		text-align: center;
		font-size: 30px;
		padding-bottom: 20px;
	}
	.imgboxl{
		width: 484px;
		height: 320px;
		background: url(../images/p1.jpg);
		float: left;
		margin-left: 200px;
		background-size: cover;
		margin-top: 30px;

	}
	.imgboxl:hover{
		background: url(../images/p2.jpg);
		background-size: cover;
	}
	.imgboxr{
		float: left;
		margin-left: 50px;
		color: #fff;
	}
	.imgboxr p{
		padding-top: 10px;
		text-align: left;
	}
	.jj img{
		width: 300px;
		height: 290px;
	}
	.jj{
		padding-top: 20px;
		padding-bottom: 50px;
		width: 800px;
		margin:0 auto; 
	}
	.jj h3{
		font-size: 30px;
		color: #fff;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.jj p{
		color: #fff;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: left;
	}
	.jj a{
		color: #fff;
	}
	.jj .tcp{
		text-align: center;
	}
	.fot{
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		font-size: 14px;
		color: #fff;
		background: #211c19;
	}
	.lxbox{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.lxbox h3{
		font-size: 30px;
		color: #fff;
	}
	.lxbox p{
		color: #fff;
	}
	.lxbox select{
		width: 175px;
	}
	.lxbox textarea{
		width: 300px;
		height: 200px;
	}
	.lxbox button{
		width: 50px;
		height: 30px;
	}
	.imgbox1 {
	height: 200px;
}
.imgbox1 img{
	float: left;
	width: 31.333%;
	margin:10px 1%; 
	height: 200px;
}
.banner{
	width: 100%;
	position: relative;
}
.banner img{
	width: 100%;
}
.logoss{
	height: 350px;
	display: none;
}
.kc h2{
	font-size: 35px;
	padding: 15px 0;
	color: #fff;
	padding-left: 30px;
}
.kc h3{
	font-size: 25px;
	padding: 15px 0;
	color: #fff;
	text-align: left;
	padding-left: 30px;
}
.kc p{
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	margin-bottom: 40px;
	text-align: left;
	padding: 0 30px;
}
.jj h4{
	font-size: 16px;
	color: #fff;
	text-align: left;
}
.ps{
	line-height: 35px;
	text-align: left;
	font-size: 14px;
	color: #fff;
}
.xx_box{
	text-align: left;
	margin-bottom: 40px;
}
.xx_box img{
	width: 300px;
	margin:0 50px;
	float: left;
}
.xx_box p{
	line-height: 35px;
	text-align: left;
	font-size: 16px;
	color: #fff;	
	display: inline-block;
	width:600px;
	margin: 0;
	padding: 0;
	float: left;
}
.clear{
	clear: both;
}
.imgxxbox img{
	width: 30.33%;
	margin: 15px 1.5%;
	float: left;
	height: 300px;
}
.tit{
	font-size: 20px;
	color: #fff;
	text-align: left;	
	padding-left: 30px;
}